[2017-01-31 16:03] dosumis commented on #11574
![image](https://cloud.githubusercontent.com/assets/112839/22472858/c01f4816-e7ce-11e6-8127-2b1184df99d0.png)

[2017-01-31 16:03] dosumis commented on #11574
GO_0098680

[2017-01-31 16:03] hdrabkin commented on #12948
We might need a rule that EC number used for xrefs MUST have 4 numbers, not three. Otherwise,  the mapping to a GO term is NOT unique

[2017-01-31 16:07] ukemi commented on #12859
The plan on this ticket is to present the data analyses and rationale for keeping or obsoleting these terms at the GOC meeting in June. Please continue to add discussion points to this ticket and we will use it for a guide to presenting at the meeting.

[2017-01-31 16:08] dosumis commented on #12926
I added with the assumption of proper parthood - so wouldn't expect resilience.  Just a matter of documenting modeling choices clearly.

simpler. This will be a big advantage when we start using GCIs in DPs in
anger.

Need more examples and some discussion.

have WM be a subclass of MR, and do away with the need for the MR
complement of WM.

I'd rather just do away with the 'whole membrane' terms.

[2017-01-31 16:10] slaulederkind opened #12978 "cell elongation"
I would like to see “cell elongation” added as a synonym of “unidimensional cell growth” (GO:0009826) and also the following synonyms added: “negative regulation of cell elongation” for “negative regulation of unidimensional cell growth” (GO:0051511),  “positive regulation of cell elongation” for “positive regulation of unidimensional cell growth” (GO:0051512), and  “regulation of cell elongation”

[2017-01-31 16:16] ukemi commented on #12978
How do these terms differ? Isn't unidimensional cell growth the same as cell elongation?

[2017-01-31 16:17] dosumis commented on #12978
Looks like Stan's saying they are the same - as this is request for synonym.  If they are the same, I prefer 'cell elongation' as the primary name.

[2017-01-31 16:25] ValWood commented on #12978
I don't think these are exact? I call can elongate and be growing bipolarly.

I have a bit of a mental block with the "growth" terms though...

Is this about an increase in size? or the direction of growth?

[2017-01-31 16:28] mah11 commented on #12978
Unidimesional means in one dimension, and is not the same as monopolar.

As far as I know, all normal vegetative growth in pombe is unidimensional (the cell diameter doesn't normally change, only the length), both when it's monopolar and when it's bipolar.

[2017-01-31 16:35] slaulederkind commented on #12978
In the example PMID:24093776, the cells gain length and lose width, such that the total surface area of the cells decrease as elongation occurs.

[2017-01-31 17:11] ValWood commented on #12978
OK got it....(I still get confused)

So Stan is your observation growth if the cell surface areas decreases?
Or is it morphogenesis?

[2017-01-31 17:18] ValWood commented on #12978
Ignore me...

[2017-01-31 17:40] tberardini commented on #12892
Reopening.  Will leave open for a bit so @krchristie or others to comment, if desired.  I did not know about the desire to link 'nuclear chromatin' and the RNA pol II TF activity term as that was not explicitly mentioned in the ticket.

[2017-01-31 17:43] ukemi commented on #12978
Sorry, I didn't notice this was a synonym request. Cell elongation is already listed as a narrow synonym.

[2017-01-31 17:44] slaulederkind commented on #12978
Requesting for the other three terms.

[2017-01-31 18:08] slaulederkind opened #12979 "cofilin-actin rod"
I would like to see "cofilin-actin rod” added to the GO ontology under the parent term “actin rod” (GO:0031002).  The definition could be "A cellular structure consisting of parallel, hexagonally arranged actin tubules, comprising filamentous actin and disulfide cross-linked cofilin multimers.” Examples can be found in PMID:24760020, PMID:22573689.

[2017-01-31 20:55] loganmccurry opened #12980 "NTR: replication fork processing at tRNA genes"
GO: replication fork processing at tRNA genes
Definition: A process that promotes the progress of the DNA replication fork at natural replication fork pausing sites within the eukaryotic tRNA transcription unit.
Aspect: Biological Process
Child term of GO:0031297 replication fork processing. GO:0090001 replication fork arrest at tRNA locus is a similar GO term but does not state the promotion of p

[2017-01-31 23:51] keseler opened #12981 "xref to EC for GO:0099620, GO:0099621"
There is a typo and a mistake in the xrefs to EC for a couple of GO terms; I think they should be:
GO:0099620 > EC 2.6.1.87
GO:0099621 > EC 2.4.2.53
Also, GO:0099621 and GO:0103019 seem to be almost identical, just using different synonyms for the name/compounds.

Thanks,
Ingrid

[2017-02-01 00:49] tberardini commented on #12974
I don't think it's appropriate to add information about TIFs in the terms about normal telomore capping processes.  How might this aid in annotation or data retrieval?  Why would someone be searching GO terms or annotations with 'Telomere dysfunction Induced Foci'?  Perhaps this would be better captured as a phenotype term (not sure which ontology though).

[2017-02-01 00:50] tberardini commented on #12976
Makes sense to me.

[2017-02-01 01:06] tberardini commented on #12971
Added covalently attached to the lipoprotein metabolic/biosynthetic/catabolic process terms.

Added non-covalent to the relevant %lipoprotein assembly' terms.

[2017-02-01 01:06] #12971 closed

[2017-02-01 01:15] tberardini commented on #12977
Added:

 [Term]
+id: GO:0090731
+name: cellular response to very-low-density lipoprotein particle stimulus
+namespace: biological_process
+def: "Any process that results in a change in state or activity of a cell (in terms of movement, secretion, enzyme production, gene expression, etc.) as a result of a very-low-density lipoprotein particle stimulus." [GOC:bc, GOC:BHF]
+synonym: "cellular respons

[2017-02-01 01:16] #12973 closed

[2017-02-01 01:21] tberardini commented on #12978
Added:

+synonym: "regulation of cell elongation" NARROW []

+synonym: "negative regulation of cell elongation" NARROW []

+synonym: "positive regulation of cell elongation" NARROW []

[2017-02-01 01:21] #12978 closed

[2017-02-01 01:40] tberardini commented on #12972
Added restrictions for
Component GO:0043702 carotenoid vesicle
Process GO:0016116 carotenoid metabolic process
Function GO:0046608 carotenoid isomerase activity
Function GO:0010436 carotenoid dioxygenase activity

+relationship: never_in_taxon NCBITaxon:4896 ! Schizosaccharomyces pombe
+relationship: never_in_taxon NCBITaxon:4932 ! Saccharomyces cerevisiae

Process GO:0016117 carotenoid biosynthet

[2017-02-01 01:40] #12972 closed

[2017-02-01 01:46] tberardini commented on #12979
Added:

+id: GO:0090732
+name: cofilin-actin rod
+namespace: cellular_component
+def: "A cellular structure consisting of parallel, hexagonally arranged actin tubules, comprising filamentous actin and disulfide cross-linked cofilin multimers." [GOC:sl, PMID:22573689, PMID:24760020]
+is_a: GO:0031002 ! actin rod
+created_by: tanyaberardini
+creation_date: 2017-01-31T17:44:04Z

[2017-02-01 01:46] #12979 closed

[2017-02-01 01:52] tberardini commented on #12543
I updated the definition:

-def: "Any process that increases the frequency, rate or extent of myotube differentiation.

+def: "Any process that **activates, maintains or** increases the frequency, rate or extent of myotube differentiation.

Can we close?

[2017-02-01 01:57] tberardini opened #12982 "TG request "other organism cell wall""
[Term]
id: GO:1905882
name: other organism cell wall
namespace: cellular_component
def: "Any cell wall that is part of a other organism." [GO_REF:0000064, GOC:TermGenie, PMID:12438152]
intersection_of: GO:0005618 ! cell wall
intersection_of: part_of GO:0044215 ! other organism
created_by: pgarmiri
creation_date: 2017-01-31T10:57:28Z

[2017-02-01 02:01] tberardini commented on #12980
Would 'replication fork processing at tRNA locus' work?  Similar to

replication fork processing at rDNA locus
amigo.geneontology.org/amigo/term/GO:0034065

[2017-02-01 02:17] tberardini commented on #12981
Fixed the typos, thanks @keseler.

@hdrabkin : Can you please check if GO:0099621 and GO:0103019  should be merged?  GO:0103019  is in the range of the set of MetaCyc-based terms you're adding.

[2017-02-01 04:34] loganmccurry commented on #12980
Yes, absolutely! Thank you for the quick response, and I appreciate the suggestion.

[2017-02-01 08:58] NancyCampbell commented on #12974
and as a syonym as outlined in above:

option 2:
add Telomere dysfunction Induced Foci (TIFs) formation as a synonym to GO:1904354 negative regulation of telomere capping child_of telomere capping

[2017-02-01 09:46] ValWood commented on #12974
I think we should keep abnormal processes and descriptions out of GO as far as possible  in line with Michael's original vision. GO represents normal processes/ biological objective, not pathological situations.

We should also consider that  vast majority of the experiments on  telomere function in mammals are conducted on cell lines which are orders of magnitude beyond their normal replicative l

[2017-02-01 09:58] rachhuntley commented on #12892
Thanks Tanya, Yes I had to clarify with Ruth that this is what was agreed as we had been discussing this in the context of TF all along!

[2017-02-01 10:00] BarbaraCzub commented on #12543
I am happy with this solution @tberardini
I'll update my annotations, when the updated definition shows up in QuickGO. (How much time should I expect this will take?)
Thank you,
Barbara

@RLovering
@rachhuntley

[2017-02-01 10:12] BarbaraCzub commented on #12977
Thanks @tberardini
Would it be possible to change the attribution from [GOC:bc, GOC:BHF] to [GOC:bc, GOC:ARUK]?
I am currently working on a project funded by Alzheimer's Research UK (ARUK). I should have specified this in my original request. My apologies!
Barbara

[2017-02-01 10:52] bmeldal opened #12983 "NTR: Tenascin complex"
Name: Tenascin complex
Def:
A extracellular matrix complex involved in cell adhesion and cell migration. Typically homotrimeric or homohexameric. In mammals, four complexes exist: Tenascin-C, Tenascin-N (also known as Tenascin-W), Tenascin-X and Tenascin-R.

Comment: An example is Tenascin-N (Q9UQP3) in PMID:17909022 (IDA).

Synonyms:
Tenascin-C [NARROW]
Tenascin-N [NARROW]
Tenascin-W [NARROW]
Ten

[2017-02-01 10:57] ValWood commented on #12980
We should aim to use annotations  extensions , if a  term represents the *exactly* same process as the parent.

Since Pfh1 promotes termination at all sites,  a better way to annotate would be:

DNA replication processing occurs_at tRNA(SO:xxxxx) or  specific termination site (SO:xxx)

We should also merge the existing term
"replication fork processing at rDNA locus"
(I think I requested this hist

[2017-02-01 11:19] NancyCampbell opened #12984 "new term Telomere maintenance via telomere trimming"
PMID     27918544
Nat Struct Mol Biol. 2017 Jan
**A balance between elongation and trimming regulates telomere stability in stem cells.**
Rivera T1, Haggblom C1, Cosconati S2, Karlseder J1.

This very recent paper describes **active trimming of telomeres which contributes to telomere maintenance** i.e. actively making telomeres shorter,

Author states: "Telomere length maintenance ensures self-ren

[2017-02-01 11:22] mah11 commented on #12980
nope, sorry, my understanding of replication fork processing is fairly superficial

[2017-02-01 12:34] ukemi commented on #12974
I agree with Tanya and Val (and Michael).

[2017-02-01 12:35] NancyCampbell commented on #12974
Thanks for the advice.

[2017-02-01 12:59] ValWood opened #12985 "Check F-P link for "GO:0001026 TFIIIB-type transcription factor activity""
GO:0001026 TFIIIB-type transcription factor activity
currently is linked to
GO:0006359 regulation of transcription from RNA polymerase III promoter
but many of the core transcription factors are directly involved in , not regulating....
maybe a logical definition issue?

https://github.com/geneontology/go-annotation/issues/1522
https://github.com/geneontology/go-annotation/issues/1523

[2017-02-01 14:45] hdrabkin commented on #12981
The two  you cite appear to use a different EC number;
GO:0099621:  EC:2.6.1.87
GO:0103019:  EC:2.4.2.53
I don't vet during addition of these terms other than check if EC is already used, name is the same, metacyc xrefs are the same.  The 0103019 passed the tests.  If there are any problems I will pass them on to Peifeng, who can make a decision. However, one of the things she did to determine if

[2017-02-01 14:48] ukemi commented on #12985
@krchristie can you look at this?

[2017-02-01 16:21] tberardini commented on #12543
I'm not sure how quickly ;-) QuickGO is updated.  I would say a week at the most.

Thanks, @BarbaraCzub, will close this now.  Whew.

[2017-02-01 16:21] #12543 closed

[2017-02-01 16:25] #12974 closed

[2017-02-01 16:29] tberardini commented on #12981
@hdrabkin :  Ingrid's initial comment stated (correctly) that the EC number for GO:0099621 was incorrect (it was EC:2.6.1.87).  I updated it to be the correct one (after checking) to EC:2.4.2.53.  Which puts us at this state:

[Term]
id: GO:0099621
name: undecaprenyl-phosphate 4-deoxy-4-formamido-L-arabinose transferase activity
namespace: molecular_function
def: "Catalysis of the reaction: UDP-4-

[2017-02-01 16:30] krchristie commented on #12980
can't provide much help either, my understanding of replication fork processing is also fairly superficial

[2017-02-01 16:37] krchristie commented on #12985
@ukemi - When we asked the RNA pol III researchers whether transcription factors such as TFIIIC were regulatory or part of the process, we got a bit of a mixed response, but slightly over half of the RNAP III researchers we contacted felt that transcription factors such as TFIIIC, and thus similarly TFIIIB, were both regulatory and part of the process. Yes, they are required for transcription to o

[2017-02-01 16:37] hdrabkin commented on #12981
If it had that I would have not put it in to begin with; I would have merely added the metacyc ref.
I would merge them, which I do NOT feel comfortable with using Protege or OE at this time,
Actually, if she had found EC:2.4.2.53 to begin with should wouldn't have requested the new term.

[2017-02-01 16:39] tberardini commented on #12980
Hi Logan,

I don't remember what software you (CACAO) use for annotation.  Can you use annotation extensions?  If so, I'd recommend capturing the information in the paper as Val suggests since she states that the **replication fork processing** process itself is exactly the same, the target is what differs.

Tanya

@ValWood :  I'll look at merging.

@srengel : could you look at the 1 annotation of

[2017-02-01 16:44] krchristie commented on #12892
I have no objection to also adding occurs_in relationships between nuclear chromatin and the "RNA polymerase ____ transcription factor activity, DNA binding" terms for any transcription factor terms for the nuclear RNA polymerases I, II, III, IV, and V, since all of these are in the nucleus.

Where both general DNA binding and sequence-specific DNA binding terms exist, I think the links should be

[2017-02-01 16:49] tberardini commented on #12981
I'll do the merge, Harold, no worries.  I'm sure Peifen would have found the term had the correct EC number been associated with it in the first place.  But the correction didn't happen till yesterday.  In any case, thanks for the confirmation that the merge should take place.

[2017-02-01 17:35] hdrabkin commented on #12981
thanks much;

[2017-02-01 17:37] ValWood commented on #12985
Was this referring to when general transcription occurs? or gene specific transcription? or both?

I would have thought that some signal transduction would regulate when transcription occurs, in which case would these  be considered the termination of a signalling pathway? Or are they another molecular function regulator?

It might be useful to have this level of knowledge if we add regulatory lin

[2017-02-01 17:39] krchristie commented on #12985
Both. While transcription factors are part of the mechanism of building the complex to get the RNAP (whichever one) to the right place, they are also regulating when transcription occurs.

[2017-02-01 18:31] loganmccurry commented on #12980
Hi, Tanya! My class format does not specify whether we can or cannot use annotation extensions, so I will contact my professor regarding the possibility. Thanks again for all of the help!

[2017-02-01 18:35] tberardini commented on #12980
Hi Logan,

Great!  Keep me posted. I hope you're enjoying the class.

[2017-02-01 20:15] ValWood commented on #12980
if you can't when the data comes through to PomBase, we can add.

Best wishes,

Val

[2017-02-01 21:45] tberardini commented on #12985
Any ontology edits necessary?

[2017-02-01 22:51] cmungall commented on #12699
I don't think so

[2017-02-01 22:55] cmungall commented on #12518
We want to remove these from the editors file, unless anyone relies on them. xrefs maintained outside should not go in the editors file.

Is there value to patching them back in as part of release? Or should we just send people to our xrefs file (which in this case would be derived directly from reactome)

[2017-02-01 23:44] tberardini commented on #12981
Merged the two terms (GO:0103019 into GO:0099621).

[2017-02-01 23:44] #12981 closed

[2017-02-01 23:46] tberardini commented on #12977
Ok, changed.

[2017-02-01 23:46] #12977 closed

[2017-02-02 00:01] ValWood commented on #12985
I think the F-P  relationship should be removed:

transcription factor activity, core RNA polymerase III binding
for some annotations:

[2017-02-02 00:49] tberardini commented on #12983
Added:

 [Term]
+id: GO:0090733
+name: tenascin complex
+namespace: cellular_component
+def: "A extracellular matrix complex involved in cell adhesion and cell migration. Typically homotrimeric or homohexameric. In mammals, four complexes exist: Tenascin-C, Tenascin-N (also known as Tenascin-W), Tenascin-X and Tenascin-R." [GOC:bm, IntAct:EBI-11789587, IntAct:EBI-13640819, PMID:11731446, PMID:1284

[2017-02-02 00:49] #12983 closed

[2017-02-02 00:56] tberardini commented on #12982
Approve?

[2017-02-02 01:22] tberardini commented on #12892
@krchristie : I don't see any general DNA binding terms of this pattern.  There are only these:

RNA polymerase I transcription factor activity, sequence-specific DNA binding
RNA polymerase II transcription factor activity, sequence-specific DNA binding
RNA polymerase III transcription factor activity, sequence-specific DNA binding

I will link all three to nuclear chromatin using occurs_in.

[2017-02-02 01:29] tberardini commented on #12892
+relationship: occurs_in GO:0000790 ! nuclear chromatin for all three

[2017-02-02 01:29] #12892 closed

[2017-02-02 01:36] tberardini commented on #12984
I'm not sure what you mean by " between GO:0000723 telomere maintenance and GO:0090656 t-circle formation (or better suggestions)." but I think we could add 'telomere maintenance via telomere trimming' as a sibling of those two terms and a direct child of 'telomere maintenance'.

The snippet of text you pasted, **"telomere trimming, which is controlled by XRCC3 and Nbs1, homologous recombination p

[2017-02-02 08:01] bmeldal commented on #12983
Thanks, Tanya!

[2017-02-02 08:04] paolaroncaglia commented on #12982
Uhm... Not sure where we stand with that, but there was a plan to nuke 'other organism' terms. See the comment to GO:0044215 ! other organism: "We plan to obsolete this branch of GO and replace its usage in annotation with a system for multi-organism annotation."
@dosumis would you have any comment please?

[2017-02-02 08:36] mcourtot commented on #12982
I don't like the term "other organism" very much, so would prefer not to create more of the same.

Looking at the PMID, https://www.ncbi.nlm.nih.gov/pubmed/?term=12438152 (abstract only, I don't seem to have fully-text access from home):
The mechanism implicated in the interaction of chromofungin with fungi and yeast cells was studied by penetration of monolayers and confocal laser microscopy. Chr

[2017-02-02 09:18] pgarmiri commented on #12982
Hi, yes, I agree with you and the term you suggested, Melanie, was my first choice. However, I am getting the error below and it's not accepted by Protein2GO. That's why I thought to create this term. Especially since the "host cell wall" exists.
"Annotation failed taxon constraint GO:0009277 (fungal-type cell wall) and its descendants should ONLY be used with gene products from the taxonomic grou

[2017-02-02 09:46] mcourtot commented on #12982
It seems chromofungin (derived from chromogranin A) is a bovine peptide, http://www.uniprot.org/uniprot/P05059. That would then imply that this paper is more about a defense mechanism against pathogens - maybe "defense response to fungus"? If possible maybe add the cell wall as AE?

[2017-02-02 09:57] pgarmiri commented on #12982
I have actually added GO:0052338: disruption by host of symbiont cell wall. They saw an accumulation of chromofungin at the symbiont cell wall and I wanted to capture this with a colocalize_with qualifier. I am happy to leave it out if it seems redundant and causes trouble.
Thanks,
Penelope

[2017-02-02 10:33] BarbaraCzub commented on #12977
Thank you!

[2017-02-02 11:23] pgaudet opened #12986 "NTR "site of DNA damage""
Hello,

We'd like to request a new term, "site of DNA damage", as a parent of "GO:0035861 site of double-strand break"

Proposed definition: "A region of a chromosome at which DNA damage has occurred. DNA damage signaling and repair proteins accumulate at the lesion to respond to the damage and repair the DNA to form a continuous DNA helix. "

Thanks, Pascale

[2017-02-02 11:28] dosumis commented on #10958
annotation ticket is here: https://github.com/geneontology/go-annotation/issues/1526

[2017-02-02 11:28] #10958 closed

[2017-02-02 11:42] pgaudet opened #12987 "NTR "DNA repair complex assembly""
Hello,

Can we create a new term,  "DNA repair complex assembly" as parent of "DNA recombinase assembly"?

I am not sure what the guidelines are regarding this; most other complexes are specific and not described by their function, with a few exceptions, such as "dosage compensation complex assembly" , "mitochondrial respiratory chain complex assembly", etc.

Thanks, Pascale

[2017-02-02 11:57] dosumis commented on #11514
Closing as out of scope for GO.

[2017-02-02 11:57] #11514 closed

[2017-02-02 14:13] dosumis commented on #12456
The genus implied by the names ('protein binding, 'receptor binding') and the def pattern ("nteracting selectively with a") suggest an MF term, but the host/symbiont thing suggests the multi-org branch of BP.

Could these perhaps be recast using the involved in pattern?

Maybe:

receptor binding involved in interaction with host?

[2017-02-02 16:07] janelomax commented on #12456
I'm sure that's fine, although I'm not sure there's anyone at WormBase to make the annotation now!

[2017-02-02 16:08] janelomax commented on #12456
In fact, don't worry about it you can close this.

[2017-02-02 17:02] hdrabkin commented on #12948
see EC:6.5.1 (DNA and RNA ligase)
6.5.1.1 DNA ligase (ATP)
6.5.1.2 DNA ligase (NAD(+))
 6.5.1.3 RNA ligase (ATP)
6.5.1.4 RNA 3'-terminal-phosphate cyclase (ATP)
6.5.1.5 RNA 3'-terminal-phosphate cyclase (GTP)
6.5.1.6 DNA ligase (ATP or NAD(+))
 6.5.1.7 DNA ligase (ATP, ADP or GTP)

[2017-02-02 17:07] tberardini commented on #12786
@dosumis - were you able to do this DL + brain +python  combo analysis?

[2017-02-02 17:12] krchristie commented on #12948
Also, demonstrating what Chris mentioned, we have two GO terms that have Xrefs to EC:6.5.1, with a parent term that has an even more general Xref to EC, but we don't have a GO term that could uniquely map to EC:6.5.1

GO:0016886 - ligase activity, forming phosphoric ester bonds; Xref = EC:6.5
- is_a GO:0008452 - RNA ligase activity; Xref = EC:6.5.1
- is_a GO:0003909 - DNA ligase activity; Xref = E

[2017-02-02 17:15] deustp01 commented on #12518
No objections or alternative suggestions from here.
Peter

[2017-02-02 17:41] ukemi commented on #12970
Example, plasma lipoproteins.

[2017-02-02 17:41] #12970 closed

[2017-02-02 18:34] ValWood commented on #12985
I don't understand my comments from 18 hours ago (maybe meant for a different ticket?)

I still think we probably shouldn't add F-P links based  only on author statements. I'd prefer it if I could see some experiments demonstrating that TFIIIB was also regulating transcription. I don't see any in GO at present...

[2017-02-02 19:08] tberardini commented on #12985
Awaiting further clarification/approval of necessary ontology edits.

[2017-02-02 19:14] thomaspd commented on #12865
Unfortunately the current usage doesn't specify whether it is the symbiont's or the host's immune system, so it has ambiguous semantics.  More importantly, the term "regulation of immune system process" is far more commonly used to refer to the immune system of the organism that encodes the gene that is being annotated.  So until we can distinguish these cases, it's best to keep with our more comm

[2017-02-02 19:22] tberardini commented on #12987
@bmeldal - Could you weigh in please?

@pgaudet - Which of the existing '% complex assembly' terms should become children of the new one?  Besides 'DNA recombinase assembly' of course.

[2017-02-02 19:30] cmungall opened #12988 "EC xref cleanup"

[2017-02-02 19:34] cmungall commented on #12988
I did this last year:

[code]

4 got away, because they were incorrectly formatted:

[code]

Two ended in period, one was missing a period, and the other has two lines glommed into one. This could have happened via hand editing (most likely), or perhaps by pasting windows characters into the xref box in OE.

In the intervening time, people have been adding dash xrefs back in:

[code]

I will remov

[2017-02-02 19:44] cmungall commented on #12988
In r38555 I removed all dashes, and I added a EC dash checks to the script. They prohibit dashes in EC primary xrefs. They are allowed in def xrefs (though this is dubious).

[2017-02-02 19:47] cmungall commented on #12988
I created a repo for doing a deeper dive on EC and other MF xrefs: https://github.com/geneontology/go-xref-analysis

[2017-02-02 20:31] tberardini commented on #12982
Sounds like I can obsolete this term in the TG queue before approval and close this issue.  Please reopen if further action is necessary.

Status for commit #92002: Success

    (obsolete) ID: GO:1905882 Label: obsolete other organism cell wall

[2017-02-02 20:31] #12982 closed

[2017-02-03 00:37] tberardini commented on #12986
Are there any additional existing terms that should also become children of this newly requested term?  Would the new term be is_a chromosomal part?  Finally, reference please.  Thanks.

[2017-02-03 00:38] tberardini commented on #12987
Also, reference please.  Thanks.

[2017-02-03 00:40] tberardini commented on #12976
Who would implement this pattern and fix existing terms? Can someone assess the scope by a clever query (terms and their current logical defs) and attach the results please? Perhaps not a manual, one-by-one job but done computationally?

[2017-02-03 09:45] pgaudet commented on #12987
Hi Tanya,

We could add as a child "GO:1903871 DNA recombinase mediator complex assembly" (definition of th e complex itself makes it clear it belongs there: GO:0033061 DNA recombinase mediator complex, def = A protein complex containing accessory proteins which bind a recombinase (e.g. Rad51) and bind single-stranded DNA (ssDNA), and promote nucleation of the recombinase onto ssDNA. ") This is al

[2017-02-03 09:58] pgaudet commented on #12986
Hi Tanya,

It would indeed be is_a chromosomal part.

For a reference I suggest
https://en.wikipedia.org/wiki/DNA_repair

There are proteins that recognize and repair the different types of DNA damage
https://en.wikipedia.org/wiki/DNA_repair#Types_of_damage

For example, oxidized base, apurinic site, etc. If you want we can create all these terms; however for our purposes it would be sufficient to

[2017-02-03 10:05] bmeldal commented on #12987
Complexes should be defined by their function as much as possible.

I don't really deal with the assembly terms, just the finished, functional products.

[2017-02-03 10:11] rjdodson opened #12989 "NTR: response to 1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one"
Hello:

I am trying to create a new GO term: response to 1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one

I have tried to do so with the TermGenie template "chemical_response_to", but TermGenie is not identifying this compound. I should note that I requested this term from CHEBI and they added it on Jan. 24, 2017. So maybe there is a lag synching TermGenie with CHEBI terms?

The CHEBI t

[2017-02-03 15:40] rozaru opened #12990 "Creation of MATH domain binding and addition of synonym"
Hello,

1) Would it be possible to create  a GO term for MATH domain binding?
    Reference: PMID 22621901
    InterPro: https://www.ebi.ac.uk/interpro/entry/IPR002083?q=math%20domain

2) Would it be possible to add BTB domain as a synonym for GO term GO:0031208?
    Reference: PMID 22621901
    InterPro: http://www.ebi.ac.uk/interpro/entry/IPR000210

Thank you

Rossana

[2017-02-03 15:53] ValWood opened #12991 "mRNA metabolism parent?"
Should mRNA metabolism have the parent  GO:0010467 gene expression?

(It seems like it should ?)

[2017-02-03 16:32] deustp01 opened #12992 "NTR: manganese ion transmembrane transporter activity"
To annotate the manganese-efflux reaction described in PMID:25319704 could we have a new GO term, GO:new manganese ion transmembrane transporter activity, with definition "Enables the transfer of manganese (Mn) ions from one side of a membrane to the other." The new term would be a sibling of GO:0015095 magnesium ion transmembrane transporter activity and have the same is_a molecular_function pare

[2017-02-03 17:31] tberardini commented on #12990
Re:2 (for reference) http://amigo.geneontology.org/amigo/term/GO:0031208

@ukemi , @paolaroncaglia , @dosumis , @mcourtot : I remember that we are not adding new 'protein family **X** binding terms' but are we continuing to add '**x** domain binding' terms? Or are such annotations better served by using the parent 'GO:0019904 protein domain specific binding' and adding the INTERPRO domain into the

[2017-02-03 18:17] ValWood opened #12993 "parentage check: phospholipid translocation"
phopholipid translocation
has the parent
"regulation of membrane lipid distribution"
but isn't  "phopholipid translocation" part of membrane lipid distribution (if that is a process)

It seems that the  process term would be "membrane lipid localization"?

[2017-02-03 20:30] tberardini commented on #12993
"regulation of membrane lipid distribution"
is an is_a child of regulation of a biological quality - the quality being 'membrane lipid distribution'
and an is_a child of single-organism membrane organization

I think everything is in order.

[2017-02-03 21:26] ValWood opened #12994 "add F-P link for molecular function regulator"
should there be an F-P link between these 2 terms?

![f-p link](https://cloud.githubusercontent.com/assets/7359272/22609077/9e9a1f6e-ea57-11e6-869e-af2e0bc92191.jpg)

I expected the MF to be a subset of the BP...

[2017-02-03 21:43] ValWood opened #12995 "remove "regulation of catalytic activity" from BP"
protein kinase activator activity
Ontology	Molecular Function
Definition	Binds to and increases the activity of a protein kinase, an enzyme which phosphorylates a protein.

is a descendent of
GO:0032147 activation of protein kinase activity
Any process that initiates the activity of an inactive protein kinase.

The problem is that the MF branch does not absolutely specify
that an enzyme activator

[2017-02-04 00:18] tberardini commented on #12992
Did you miss this term?  It links to CHEBI:25155 ! manganese cation.  Perhaps you need something more specific to manganese (2+), (3+), or (4+)?

http://amigo.geneontology.org/amigo/term/GO:0005384

[Term]
id: GO:0005384
name: manganese ion transmembrane transporter activity
namespace: molecular_function
def: "Catalysis of the transfer of manganese (Mn) ions from one side of a membrane to the othe

[2017-02-04 00:26] tberardini commented on #12989
Hi Bob,

Yes, the new CHEBI term is not yet in the set accessed by TermGenie.  Can we wait a little bit longer for the term to trickle through the data pipelines?  It's much more reliable to get all the parentage right to use TG.

Thanks,

Tanya

[2017-02-04 00:46] tberardini commented on #12991
First off, I looked at the definition of gene expression:

By that definition, "production of the RNA" or RNA transcription and RNA processing should be children of this term. They are.

gene expression
--[i] transcription, DNA-templated
----[i] mRNA transcription
--[i] RNA processing
----[i] mRNA processing

We could consider moving other children of (m)RNA metabolism (think (m)RNA cleavage and (

[2017-02-04 01:06] krchristie opened #12996 "NTRs: urothelial plaque and related"
I am annotating PMID:22323295 and need a couple new terms to deal with urothelial plaques.

**term name:** apical plasma membrane urothelial plaque
=> the plaques also occur in fusiform vesicles in biologically relevant ways, so I thought it might be best to specify the location as well as the parentage I have here is only true when when the	plaque is in the apical membrane
**Def:** A scallop-shap

[2017-02-04 01:21] tberardini commented on #12994
+relationship: part_of GO:0065009 ! regulation of molecular function

**That,** I can do. :)

[2017-02-04 01:21] #12994 closed

[2017-02-04 01:38] tberardini commented on #12987
I was about to add this term and then ran into a snag.

**DNA repair complex** (the cc term) and **DNA recombinase mediator complex** (cc term) are both _is_a_ **protein complex**.

**DNA recombinase complex assembly** (the existing bp term) _is_a_ **protein-DNA complex assembly**.

Should the _is_a_ parent of the proposed term, **DNA repair complex assembly** be  **protein complex assembly** OR *

[2017-02-04 01:42] tberardini commented on #12986
+id: GO:0090734
+name: site of DNA damage
+namespace: cellular_component
+def: "A region of a chromosome at which DNA damage has occurred. DNA damage signaling and repair proteins accumulate at the lesion to respond to the damage and repair the DNA to form a continuous DNA helix." [GOC:pg]
+xref: Wikipedia:DNA_repair
+is_a: GO:0044427 ! chromosomal part
+created_by: tanyaberardini
+creation_date:

[2017-02-04 01:42] #12986 closed

[2017-02-04 01:45] tberardini commented on #12796
Linking to the bigger issue #12849

[2017-02-05 18:51] deustp01 commented on #12992
I did miss it - that works for me.
Thanks.

[2017-02-05 23:24] krchristie commented on #12996
Almost forgot, I also think it would be useful to have another term related to these two.

**term name:** hinge region between urothelial plaques of apical plasma membrane
**Def:** A narrow rim of non-thickened membrane in between urothelial plaques in apical plasma membrane.
**def dbxref:** GOC:krc, PMID:21468280, PMID:21887288
**is_a:** GO:0098590 plasma membrane region
**part_of:** GO:0016324 a

[2017-02-06 02:24] cmungall commented on #12926
What about this one:

`cytoplasmic region = cytoplasm and part-of some cytoplasm`

We should at least put this in `goantislim_grouping`. But I'm struggling to see a use case for it.

we have one assertion to it:

[code]

looks like all of the assertions should be inferred

[2017-02-06 09:20] pgaudet commented on #12987
Hi Tanya,

The more new term should be is_a protein complex assembly.

Thanks, Pascale

[2017-02-06 09:20] pgaudet commented on #12986
Thanks!

[2017-02-06 09:33] NancyCampbell commented on #12984
"but I think we could add 'telomere maintenance via telomere trimming' as ...... a direct child of 'telomere maintenance'."

Yes

"suggests that t-circle formation could be part of telomere trimming."

Yes

[2017-02-06 10:15] hattrill opened #12997 "GO:0022602 ovulation cycle process taxon constraints"
GO:0022602 ovulation cycle process is restricted to vertebrates and is causing downstream taxon clashes with "GO:0001541 ovarian follicle development" for D.mel. Could the taxon restriction for GO:0022602 be relaxed (to metazoa?) to include other animals that ovulate?

[2017-02-06 10:33] mcourtot opened #12998 "Builds failing due to unknown issue, possibly SSL related (re: handshake alert: unrecognized_name)"
See http://build.berkeleybop.org/job/release-go/227/console, some issue with ro/annotations.owl

2017-02-06 02:21:24,135 ERROR (CommandRunner:4198) could not parse:http://purl.obolibrary.org/obo/ro.owl
org.semanticweb.owlapi.model.UnloadableImportException: Could not load imported ontology: <http://purl.obolibrary.org/obo/ro/annotations.owl> Cause: handshake alert:  unrecognized_name

Looking at h

[2017-02-06 10:36] rjdodson commented on #12989
Hi Tanya:

Sure, there is no rush on this. I'll just wait until the CHEBI term appears in TermGenie and then try to create the GO term with TG. Any rough idea how long a wait it might be...weeks, months?

Thanks,
Bob

[2017-02-06 10:57] ValWood commented on #12993
Yeah, it seems a little odd that this as "regulatory". The translocation is causing the distribution, but not necessarily regulating it? (Unless the flippases actually sense the lipid distribution and regulate accordingly?)

[2017-02-06 11:03] ValWood commented on #12991
Also, I wondered about " mRNA catabolism" at first.

But then because gene expression is

"The process in which a gene's sequence is converted into a mature gene product or products (proteins or RNA). This includes the production of an RNA transcript as well as any processing to produce a mature RNA product or an mRNA (for protein-coding genes) and the translation of that mRNA into protein. Protei

[2017-02-06 12:08] ValWood opened #12999 "signal transducer, downstream of receptor, with serine/threonine kinase activity"
I just spotted this term (Never noticed it before).

It worries me that PomBase have only 8 annotations to this term,
http://www.pombase.org/spombe/result/SPAPB18E9.02c
As many of our protein kinases will fit this definition.

[2017-02-06 12:11] ValWood commented on #12999
I see its name changed recently from
receptor signaling protein serine/threonine kinase activity
Is there a SF ticket about this? The new names seems quite a clunky name  for a protein kinase.

Can it not be
signal transducing protein kinase activity (that would fit the def)
...the existing name makes the kinase activity appear  not to be the primary activity.

And a question. When annotating prot

[2017-02-06 12:11] ValWood commented on #12999
@Antonialock

[2017-02-06 12:25] dosumis commented on #12999
The term is old, but the name is new-ish.  The terms in this branch were originally called 'receptor signaling protein ...' which sounds like it might refer to a receptor,  but confusingly this class *excludes* receptors.

The new names are my fault.  This sounds nicer:

Following the GO definition of signal transducer, this could cover receptors too, but my guess is that most biologists would ass

[2017-02-06 13:19] ValWood commented on #12999
Currently they are annotated to plain old
protein/serine protein kinase activity type terms....
protein tyrosine kinase activity

things like,
wee1 http://www.pombase.org/spombe/result/SPCC18B5.03
cdr2 http://www.pombase.org/spombe/result/SPAC57A10.02
cdrr1 http://www.pombase.org/spombe/result/SPAC644.06c

but the  "signal transducing protein kinase activity" is another orthogonal classification.

[2017-02-06 13:20] ukemi commented on #12943
I made autophagy a type of cellular catabolic process. I was able to remove several asserted is_a parents because now they are inferred by the reasoner due to the has_input relationships in the logical definitions. I think that is it for the autophagy edits. Let me know if you spot anything weird.

-D

[2017-02-06 13:20] #12943 closed

[2017-02-06 13:21] mcourtot commented on #12902
Hi @ukemi - was this discussed during the last call?

[2017-02-06 13:22] ValWood commented on #12999
The number depends on the answer to:
"And a question. When annotating protein kinases, is the terminal kinase considered to be a "signal transducer" too? (I'm never sure about this)""

because if the terminal kinase is also a signal transducer, then it is probably all 116 of our protein kinases.......

[2017-02-06 13:23] ukemi commented on #12902
Yes. I though @cmungall  had already done it.

[2017-02-06 13:26] ukemi commented on #12865
OK. I removed those parents.

[2017-02-06 13:26] #12865 closed

[2017-02-06 13:28] ukemi commented on #12991
What if the catabolism is just part of the steady state process?

[2017-02-06 13:36] mcourtot commented on #12533
Done revision 38598.

[2017-02-06 13:36] #12533 closed

[2017-02-06 13:45] ukemi commented on #12997
Even though the children are vertebrate specific, it makes sense to relax this one.

 is_a: GO:0048511 ! rhythmic process
 intersection_of: GO:0044699 ! single-organism process
 intersection_of: part_of GO:0042698 ! ovulation cycle
-relationship: only_in_taxon NCBITaxon:7742 {id="GOTAX:0000245"} ! Vertebrata <Metazoa>
+relationship: only_in_taxon NCBITaxon:33208 {id="GOTAX:0000245"} ! Metazoa
 rel

[2017-02-06 13:45] #12997 closed

[2017-02-06 14:01] ValWood opened #13000 "ntr: G2 M size control"
I think we need a new term to group processes involved in G2/M size control.

G2/M size control is_a GO:0008361 regulation of cell size

with these existing terms added as part_of

GO:1905287 positive regulation of G2/M transition of mitotic cell cycle involved in cellular response to nitrogen starvation
and  GO:0031569 G2 cell size control checkpoint

Refs:
PMID: 872891 Seminal paper (Peter Fante

[2017-02-06 14:02] pgaudet commented on #11218
Looks like it addresses it !

Thanks, Pascale

[2017-02-06 14:05] ukemi commented on #11240
Hi Val,

What should I do with this one?

-D

[2017-02-06 14:08] ukemi commented on #12518
@cmungall  From the help-desk ticket, it looks like at least one group gets these from the go.obo file. Maybe we need them both places as part of a build into go from the xrefs file?

[2017-02-06 14:11] ukemi commented on #13000
This request seems incomplete. Can you supply definitions, then it would be easier to classify as is_a or part_of children? Wouldn't one of them be a checkpoint based on the name?

-D

[2017-02-06 14:19] #12992 closed

[2017-02-06 14:25] ValWood commented on #13000
![cell size](https://cloud.githubusercontent.com/assets/7359272/22650643/0885a08e-ec78-11e6-80c9-1aeacdfda52e.jpg)
G2/M size control
def
Any process that modulates the size of a cell as part of the G/M cell cycle transition

GO:1905287	positive regulation of G2/M transition of mitotic cell cycle involved in cellular response to nitrogen starvation
isn't a checkpoint
but is part_of
"negative regula

[2017-02-06 14:28] ValWood commented on #13000
there are only 2 places where size is controlled, G1/S and G/2 M.

via  this conserved pathway:

![endosulphine](https://cloud.githubusercontent.com/assets/7359272/22650716/51d17d26-ec78-11e6-9a7e-a89d9b0479cc.jpg)

[2017-02-06 14:30] ValWood commented on #13000
a checkpoint can operate at this point, but not necessarily if cell size is adequate for division in different nutritional conditions.

[2017-02-06 14:41] ValWood commented on #13000
GO:1905287 positive regulation of G2/M transition of mitotic cell cycle involved in cellular response to nitrogen starvation,

is lacking some critical detail "initiating mitosis at a reduced cell size"

from  PMID26776736
"nutrient poor conditions, wild-type cells initiate mitosis at a reduced cell size"

(this is conserved in fly and human)

[2017-02-06 14:48] mah11 commented on #13000
Hmm, I thought those were both control of whether the next transition takes place, based on whether the cell is big enough - i.e. cell size is a quality that the control system measures, rather than what's being controlled.

[2017-02-06 15:02] ValWood commented on #13000
I deleted that comment because I don't know that they are the only 2 places in  other organisms.

However, Isn't this this pathway somehow doing both (regulating size and transition in response to nutrients)?

But you are correct that  the checkpoint  doesn't go  under  the size control. I'm doing this in too much of a hurry because I wanted to have gone through the paper before sergio's talk toni

[2017-02-06 16:37] cmungall commented on #12988
I created a report of all ECs mapped to sub/superclass pairs:

https://github.com/geneontology/go-xref-analysis/blob/master/redundant-xrefs-ec.tsv

Someone give me the word and I can removal all the ones mapped to a child

[2017-02-06 16:43] tberardini commented on #12989
@cmungall or @kltm : Do you know how often the CHEBI ontology used by TG is refreshed?  A term added on 1/24/17 and in the current version available for download is not yet usable within the TG application.  Thanks.

[2017-02-06 16:56] ukemi commented on #13000
So does this one get closed, or are you going to add to it tomorrow?

[2017-02-06 17:28] cmungall commented on #12989
CHEBI is released monthly. Latest Feb 2:
ftp://ftp.ebi.ac.uk/pub/databases/chebi/ontology/

The OBO build is meant to be triggered automatically
https://build.berkeleybop.org/job/build-chebi/configure

I triggered but I will retire this job and build chebi the normal way
with the OBO pipeline

On 6 Feb 2017, at 8:43, Tanya Berardini wrote:

[2017-02-06 18:00] tberardini commented on #12989
Ok, will check tomorrow to see if term is available then.  Still not there right now.  Thanks for looking into this, @cmungall.

[2017-02-06 18:24] tberardini commented on #12991
Thanks, @ukemi and @ValWood for your comments.  With those in mind, I'm still inclined to do this:

"We could consider moving other children of (m)RNA metabolism (think (m)RNA cleavage and (m)RNA modification under gene expression but I wouldn't want to move mRNA catabolic process. This means not moving mRNA metabolic process under gene expression."

PLEASE comment on the bigger issue I raised of

[2017-02-06 18:33] tberardini commented on #12993
The definition of ROBQ (regulation of biological quality), the parent term:

"Any process that modulates a qualitative or quantitative trait of a biological quality. A biological quality is a measurable attribute of an organism or part of an organism, such as size, mass, shape, color, etc."

In this case, the measurable attribute is 'membrane lipid distribution' and the regulatory process is modul

[2017-02-06 18:39] krchristie commented on #12991
Hi,

I do think that 'mRNA (transcription)' seems like it should be an is_a child of 'mRNA metabolic process'. That seems parallel to the fact that 'RNA biosynthetic process' is already an is_a child of 'RNA metabolic process'.

I'm not so sure that we would want to make all of 'mRNA metabolism' a child of 'gene expression'. In addition to David's comment about the possibility of some mRNA catabol

[2017-02-06 18:44] ukemi commented on #12991
@tberardini  and @krchristie

I think the problem with the bigger issue is that mRNA in the logical definition of mRNA metabolism refers to the mature mRNA (mRNA and messenger RNA are now equivalent). messenger-RNA is an inferred subclass of 'mature_transcript'.  So is transcription equivalent to mRNA biosynthetic process, or is it part of it? I guess we could consider the things after the transcr

[2017-02-06 18:48] cmungall commented on #12998
@kltm has noticed similar issues totally different ontologies, something
odd is up with owlapi and ssl?

On 6 Feb 2017, at 2:33, Melanie Courtot wrote:

[2017-02-06 18:48] kltm commented on #12998
There seems to be an intermittent failure involving Java and ssl, that we have not been able to isolate; we don't even know which end the problem is occurring at. It may be due to some recent upgrades in ssl libraries on various systems that is causing the issue.

Re-running the job, it seems to have advanced more than before. Closing.

For pipeline issues, it may be better to open tickets on the

[2017-02-06 19:02] tberardini commented on #12991
Modified plan:

- [ ] move mRNA transcription to be is_a mRNA metabolic process

Leave all else as is.

[2017-02-06 19:06] krchristie commented on #12991
@tberardini Do you mean **ADD** is_a parentage of 'mRNA metabolic process' for  'mRNA transcription'?

I think the existing is_a parentage of 'transcription, DNA-templated' is still true and should remain.

[2017-02-06 19:07] tberardini commented on #12991
@krchristie - yes, **ADD**.

[2017-02-06 19:08] krchristie commented on #12991
great

[2017-02-06 19:46] tberardini commented on #12987
**Existing CC hierarchy:**

protein complex (exists)
--[i] DNA repair complex (exists)
--[i] DNA recombinase mediator complex (exists)

protein-DNA complex (exists)
--[i] DNA recombinase complex (exists)

**Proposal:**

protein complex assembly (exists)
--[i] **DNA repair complex assembly (NEW: requested placement, consistent with cc parentage)**
----[i] **DNA recombinase mediator complex assembly

[2017-02-06 19:50] ukemi commented on #12987
Keep in mind that protein complex and all associated terms will be merged into macromolecular complex, which in turn will become protein-containing complex. I was thinking of doing this merge at the workshop as an example and having everyone try merging some of the necessary terms as practice. This might help here because protein complex will become much less specific and after the merge will be e

[2017-02-06 19:55] tberardini commented on #12987
Oh yes, good.  So I can do this, which is what I wanted to propose but didn't cause I forgot about that impending merge. Will leave CC alone.

macromolecular complex assembly (exists)
--[i] DNA repair complex assembly (NEW)
----[i] DNA recombinase mediator complex assembly (exists, new parent)
----[i] DNA recombinase assembly (exists, new parent)

[2017-02-06 22:23] tberardini commented on #12984
Current arrangement:

<img width="514" alt="screen shot 2017-02-06 at 2 10 57 pm" src="https://cloud.githubusercontent.com/assets/4998871/22668785/e2af442e-ec76-11e6-8e3a-53c5ff86d657.png">

Would this work?

telomere maintenance
--[i] telomere maintenance via base-excision repair
--[i] telomere maintenance via recombination
--[i] telomere maintenance via semi-conservative replication
--[i] telome

[2017-02-06 23:17] keseler opened #13001 "NTR: (4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione isomerase activity, EC 5.3.1.32"
Hi,
Could someone please create a GO term for EC 5.3.1.32, (4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione isomerase activity?  Proposed definition: Catalysis of the reaction (4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione = 3-hydroxy-5-phosphonooxypentane-2,4-dione.  Synonym: phospho-AI-2 isomerase activity.

Thanks,
Ingrid

[2017-02-07 00:04] kltm commented on #12998
Lovely, it failed for a different file this time:
http://purl.obolibrary.org/obo/ro.owl

[2017-02-07 00:20] kltm commented on #12998
For reference: https://github.com/owlcollab/owltools/issues/171

[2017-02-07 00:48] kltm commented on #12998
Now it works. I give up. 🙀

[2017-02-07 00:48] cmungall commented on #12998
I think the obo format issue is different.

For the issue holding up the GO release, the exact same command works for me, i.e.

[code]

so there is something different about grinder, either java version/ssl issue, or something network oriented

[2017-02-07 00:50] kltm commented on #12998
grinder should not have changed in the last few hours. Same machine, same build script.

[2017-02-07 00:52] cmungall commented on #12998
The build succeeded, but it did not attempt to run the same command.

Remember there is a crazy Makefile there that has accrued a lot of complexity we will simplify when moving to github

[2017-02-07 00:55] kltm commented on #12998
Wat?
Differences I've found so far are:
[code]
Was there sufficient update there? At least that might narrow it down...

[2017-02-07 00:57] tberardini commented on #12987
[Term]
+id: GO:0090735
+name: DNA repair complex assembly
+namespace: biological_process
+def: "The aggregation, arrangement and bonding together of a set of components to form a DNA repair complex." [GOC:pg, PMID:27113759, PMID:27233470]
+is_a: GO:0065003 ! macromolecular complex assembly
+intersection_of: GO:0022607 ! cellular component assembly
+intersection_of: results_in_assembly_of GO:199039

[2017-02-07 00:57] #12987 closed

[2017-02-07 01:03] tberardini commented on #12991
+is_a: GO:0016071 ! mRNA metabolic process

[2017-02-07 01:39] tberardini commented on #12990
I checked and a '%domain binding' term was added in Sept. 2016.  So going ahead and adding this one:

 [Term]
+id: GO:0090736
+name: MATH domain binding
+namespace: molecular_function
+def: "Interacting selectively and non-covalently with a meprin and TRAF homology (MATH) domain." [InterPro:IPR002083, PMID:22621901]
+is_a: GO:0019904 ! protein domain specific binding
+created_by: tanyaberardini
+c

[2017-02-07 01:39] #12990 closed

[2017-02-07 01:44] tberardini commented on #12980
Hi @loganmccurry : any news?  Can we close this request or can we assist further? Thanks.

[2017-02-07 02:11] cmungall commented on #12211
Note this is now on master (but still not in prod): https://github.com/geneontology/go-ontology

new job:
https://build.berkeleybop.org/job/release-go-NEW/configure

[2017-02-07 03:09] loganmccurry commented on #12980
Hi, Tanya! I'm so sorry about the delay. I think my professor has been out, as I have not heard back from my inquiry. I do have class tomorrow so I should have an answer by then. I'll be sure and respond to this as soon as I get the clarification.

[2017-02-07 08:51] mcourtot commented on #12998
If it helps narrow it down, the TG job failed with the same error
[code]

for build [828](http://build.berkeleybop.org/job/go-termgenie-check/828/changes), but then recovered in build [829](http://build.berkeleybop.org/job/go-termgenie-check/829/changes)

[2017-02-07 09:44] rjdodson commented on #12989
Checking today, but TG still not recognizing the CHEBI term:
1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one

No rush from me, just following up on this.

[2017-02-07 10:56] mcourtot commented on #12998
It seems disabling SNI

`-Djsse.enableSNIExtension=false`

could help: http://stackoverflow.com/questions/7615645/ssl-handshake-alert-unrecognized-name-error-since-upgrade-to-java-1-7-0

[2017-02-07 11:26] rachhuntley opened #13002 "Proximal promoter region"
Could we clarify the definition of GO:0000987 'core promoter proximal region sequence-specific DNA binding' with regards to how large this region is?

Maybe it could be aligned with the SO definition?

SO: proximal_promoter_element
SO_0001668
Definition: DNA segment that ranges from about -250 to -40 relative to +1 of RNA transcription start site, where sequence specific DNA-binding transcription

[2017-02-07 12:07] hattrill opened #13003 "GO:0000506, GPI-GnT complex is an ER membrane protein complex"
GO:0000506 glycosylphosphatidylinositol-N-acetylglucosaminyltransferase (GPI-GnT) complex
is currently a child of  GO:0044432 endoplasmic reticulum part and  GO:0043234 protein complex
Could it shifted under: GO:0072546 ER membrane protein complex?

PMID:16162815

[2017-02-07 13:22] NancyCampbell commented on #12984
Perfect. Thanks.

can you please add:
GOC:BHF, GOC:BHF_telomere, GOC:nc

How about this:
telomere maintenance via telomere trimming: A process that contributes to the maintenance of proper telomeric length and structure via the activation of telomere shortening pathways that compensate telomerase-dependent excessive telomere elongation. Telomere attrition is mediated by a mechanism which involves

[2017-02-07 13:25] ukemi commented on #13001
@hdrabkin  is this in your list?

[2017-02-07 14:37] hdrabkin commented on #13001
No, this is new.

[2017-02-07 14:49] mcourtot commented on #12902
added revision 38621.

[2017-02-07 14:52] ValWood commented on #12991
OK, all sounds good.
val

[2017-02-07 15:06] hdrabkin commented on #13001
I would think this will be an is_a
isomerase activity
GO id:	GO:0016853
Definition:	Catalysis of the geometric or structural changes within one molecule. Isomerase is the systematic name for any enzyme of EC class 5.
Comments	Note that enzymes of class EC:5.99.-.- should also be annotated to this term.

[2017-02-07 15:22] ukemi commented on #13002
@krchristie  comments?

[2017-02-07 15:28] ukemi commented on #13003
synonym: "GPI-GlcNAc transferase complex" EXACT []
 synonym: "GPI-GnT complex" EXACT []
 synonym: "GPI-N-acetylglucosaminyltransferase complex" EXACT []
-is_a: GO:0043234 ! protein complex
-is_a: GO:0044432 ! endoplasmic reticulum part
+is_a: GO:0072546 ! ER membrane protein complex

[2017-02-07 15:28] #13003 closed

[2017-02-07 15:35] hdrabkin commented on #12954
done

[2017-02-07 15:35] #12954 closed

[2017-02-07 15:45] krchristie commented on #13002
When we created this term, I did not feel it was possible to come up with a definition of the size of the promoter proximal region that applied across all RNAP II for all relevant taxa. My recollection is that the size is quite different between cerevisiae and mammalian species.

Does the SO term cite a reference?

[2017-02-07 15:49] hdrabkin commented on #13001
done

[2017-02-07 15:49] #13001 closed

[2017-02-07 15:51] ukemi commented on #13002
PMID:12515390 and PMID:9679020

[2017-02-07 16:38] mcourtot commented on #12178
@krchristie: do you have any input on this? @ukemi mentioned you were a transcription expert.

[2017-02-07 16:53] ValWood commented on #12993
ok,

[2017-02-07 16:53] #12993 closed

[2017-02-07 17:01] ValWood commented on #12985
Yep can close. There are IDA annotations to the regulation term, not sure why I didn't see them. I checked paper and is required for activation, so is regulation

[2017-02-07 17:01] #12985 closed

[2017-02-07 17:06] tberardini commented on #12985
Thank you Val!

[2017-02-07 18:18] hdrabkin commented on #12757
Logical Def was added; relationship is already there.

[2017-02-07 18:18] #12757 closed

[2017-02-07 18:34] ValWood commented on #11240
Well I'm still not sure and its  way outside my current annotation areas. I suggest to close unless @mah11  knows. I'm not aware of the terms currently causing any problems and we can open a new ticket and refer back to this one if they do....

[2017-02-07 18:47] loganmccurry commented on #12980
Finally have an update! I checked and our program does not yet allow for extensions to be used with GO terms. Thanks again for being so patient. - Logan

[2017-02-07 18:53] ValWood commented on #12999
So for this one, I'd be happy if the name was changed to
signal transducing protein kinase activity

as we annotate our pathways we will need to make sure that other "signal transducing kinases" are under this term. Bear in ming that this will necessitate lots of new terms like

signal transducing protein serine/threonine protein kinase

etc

[2017-02-07 19:24] ValWood commented on #13000
I think the best option for now is to

i) add
the parent
GO:0010972 negative regulation of G2/M transition of mitotic cell cycle

to
GO:0031569 G2 cell size control checkpoint

this will at least place  "G2 cell size control checkpoint"  correctly underneath the transition it regulates.

I'm not confident about the relationship between the size that division occurs and  "regulation of cell size".

[2017-02-07 19:26] ValWood commented on #13000
@Antonialock  unless you got any insight last night? Currently we have this part of the pathway annotated to "positive regulation of G2/M transition of mitotic cell cycle involved in cellular response to nitrogen starvation" AND "negative regulation of cell size"

[2017-02-07 19:39] kltm commented on #12998
Thank you for the help--sorry we did not loop you in on earlier conversations where we covered options like this.
Digging into the different layers where these actions can be occurring and trying the various options, assuming it's even a client java issue, was weighed to be expensive in the face that the issue is sporadically occurring. It doesn't seem to be a client-only issue given other SSL-rea

[2017-02-07 19:39] #12998 closed

[2017-02-07 19:41] tberardini commented on #12980
@loganmccurry : Thanks for the update.  I suggest that you annotate as Val suggests to the term:

DNA replication processing
or
replication fork processing.

Val or another Pombase curator will add the necessary extensions when your annotations are incorporated into GO/Pombase.

@ValWood : I've merged 'replication fork processing at rDNA locus' into 'replication fork processing'

[2017-02-07 19:41] #12980 closed

[2017-02-07 20:39] ukemi commented on #12912
OK. We have decided to go the route of making these whole processes catabolic pathways. So based on the above, I can change the name of GO:0030433 to be ubiquitin-dependent ERAD pathway. I can tighten up the definition to be "The series of steps necessary to target endoplasmic reticulum (ER)-resident proteins for degradation by the cytoplasmic proteasome. Begins with recognition of the ER-resident

[2017-02-07 21:02] ValWood commented on #12991
I think we should reconsider this.

Whilst triaging today I spotted a paper
https://www.ncbi.nlm.nih.gov/pubmed/28143396
abstract:
The regulation of all gene expression steps (e.g., Transcription, RNA processing, Translation, and mRNA Degradation) is

so I asked my co-PI Jurg Bahler who has published over 100 papers on many aspects of gene expression
http://www.bahlerlab.info/publications/

I aske

[2017-02-07 21:03] ValWood commented on #12912
Yup!

[2017-02-07 21:58] cmungall commented on #12998
@kltm

Don't try and analyze it, this pipeline will be dead before long and replaced with a vastly simplified one.

For whatever reason, the same step was not executed in that run of the job

I made a temporary job to test this more deterministically, so far I cannot repeat it, consistent with what you're saying https://build.berkeleybop.org/job/owltools-ssl-test/

[2017-02-08 00:27] tberardini commented on #12991
Fair enough.

Back to the definition of 'gene expression' in GO, right now:

With that in mind, let's step back and  look at the big picture and review ALL of the children of gene expression:
<img width="544" alt="screen shot 2017-02-07 at 4 23 59 pm" src="https://cloud.githubusercontent.com/assets/4998871/22717789/e7bff3e2-ed51-11e6-947b-b42bffa24f5c.png">

Are all appropriate?  Val suggests addi

[2017-02-08 00:36] Antonialock commented on #13000
I don't know if this is regulation of size?

Maybe the cells just "want" to quickly skip through G2 & M to maximise their survival chances (it is only when in G1 that they can find a mating partner or become stress resistant). In that case smaller size is just an effect of that....it is not regulation of size per se.

I'm sure regulation of size is a thing for other purposes - human fat cells can

[2017-02-08 01:03] tberardini commented on #12984
[Term]
+id: GO:0090737
+name: telomere maintenance via telomere trimming
+namespace: biological_process
+def: "A process that contributes to the maintenance of proper telomeric length and structure via the activation of telomere shortening pathways that compensate telomerase-dependent excessive telomere elongation. Telomere attrition is mediated by a mechanism which involves the generation of sing

[2017-02-08 09:45] mcourtot commented on #12211
I can't see the new jenkins job - is it a simplification of the existing pipeline, or just a transposition to use GH instead of SVN, or...? Specifically I was wondering if the checks had been rewritten or were still using the 'old' scripts.

[2017-02-08 10:21] ValWood commented on #13000
Yep, I'm not sure.

i) The TOR pathway regulates growth
ii) There is definitely a "required size for division" (but this required size is different in different nutrient conditions).
iii) Tor pathway allows cells to enter mitosis at a small size in  nutrient poor conditions.

We also have the "cell size sensor" pom1 cell geometry network which  measures a concentration gradient to  determine cell

[2017-02-08 11:06] mah11 commented on #11240
I'm not even sure what the question was. More broadly, my connection with the checkpoint terms in GO can be fairly characterized as "transcribed terms, defs, etc. after Val and others, especially Rob Nash, worked out what they wanted".

[2017-02-08 11:13] mah11 commented on #13000
Would that apply to all species in which the G2/M transition is positively regulated at all in response to nitrogen starvation? (I have no idea; I just worry about keeping terms species-neutral.)

After Sergio's talk I'm also not sure whether size is a "goal" or just a coincidental outcome of cell cycle regulation, but I am still convinced that the cycle transitions are being regulated.

I also th

[2017-02-08 12:11] ukemi commented on #12991
I've never been fond of the term gene expression because it seems like a quality to me, at least the way people interpret it from papers. Wouldn't the catabolism be regulation if the process is the positive process of converting the gene's sequence to a product?

[2017-02-08 12:23] #11240 closed

[2017-02-08 12:36] ukemi commented on #12976
This makes sense to me too. I thought this was what @tberardini , @cmungall and I had agreed on before. I wonder how the others crept in. I remember there was some question about directionality of the inferences when we discussed this before, ie there was an issue about which process was the regulator and which was the target, so we should look carefully at that again. @cmungall do you remember?

[2017-02-08 12:53] ukemi commented on #12996
@krchristie I'd be happy to chat about these. They seem reasonable to me, but I think we can improve on the definitions a bit to make them more compliant with the way we create standard genus-differentia defs. For example something like this:

term name: hinge region between urothelial plaques of apical plasma membrane
Def: A region of the apical plasma membrane consisting of a narrow rim of non-t

[2017-02-08 13:12] mcourtot commented on #12382
Looking at Ruth's comments in #12381, I suggest:

 GO:0007595, lactation:

- [ ] update definition from “The regulated release of milk by the mammary gland.” to “The secretion of milk from the mammary glands and the period of time that a mother lactates to feed her young”
- [ ] remove is-a GO:0032941 secretion by tissue

GO:0060156, milk ejection:

- [ ] add part_of some lactation
- [ ] add  is_a

[2017-02-08 13:13] ValWood commented on #13000
First part easy: This is a conserved eukaryotic mechanism  which determines the size at division in somatic/vegetative cells in response to nitrogen limitation.

See the above review by David Glover. Precedes the fission yeast work, covers Xenopus and fly.
The overlooked greatwall: a new perspective on mitotic control.

Presumably cell size regulation isn't limited to cell cycle transitions in any

[2017-02-08 13:22] ValWood commented on #13000
Actually the review doesn't support that, it only speculates.

The pathway is the same though. If the term is defined to fit the current biology it would prevent any alternative usage without revision anyway....

[2017-02-08 13:22] ValWood commented on #13000
Note we are the only people to use the term so far. Antonia requested it for Sergio's paper....

[2017-02-08 13:31] ukemi commented on #13000
- [ ] add the parent GO:0010972 negative regulation of G2/M transition of mitotic cell cycle to
GO:0031569 G2 cell size control checkpoint

- [ ] Change the definition of GO:1905287 positive regulation of G2/M transition of mitotic cell cycle involved in cellular response to nitrogen starvation from 'Any positive regulation of G2/M transition of mitotic cell cycle that is involved in cellular resp

[2017-02-08 13:48] ValWood commented on #13000
Yep. The first one is just missing from earlier work.

Re def change, can this have a logical def? I think this would place it under "regulation of  cell growth"

If not, can leave and hopefully it will happen naturally when logical defs are added.

[2017-02-08 14:03] ValWood commented on #12991
Wikepedia defines as a process and it's a useful grouping term for the sub processes that make contribute to overall gene expression, very useful for super slims and enrichments.

I think you are right, catabolism would be negative regulation of gene expression.

If you think there might be exceptions and that not all mRNA decay is -ve regulating gene expression,  you could just link up the major

[2017-02-08 14:05] dosumis opened #13004 "Obsolete virus receptor activity ?"
'virus receptor activity' is a non-cannonical function.  CD4 did not evolved to bind HIV, HIV evolved to bind CD4.

Shouldn't we instead have a term for the binding event that allows a virus to enter a cell ('virus receptor binding'?  which can be used to annotate viral proteins - with the receptor being in an extension?

From these annotations, it would be simple to derive a list virus receptors.

[2017-02-08 14:07] mcourtot commented on #12382
Done revision 38641.

[2017-02-08 14:07] #12382 closed

[2017-02-08 14:12] mcourtot commented on #12381
I moved lactation (remove is-a GO:0032941 secretion by tissue).
Based on its definition "The directed movement of substances (such as macromolecules, small molecules, ions) into, out of or within a cell, or between cells, or within a multicellular organism by means of some agent such as a transporter or pore.", the transport parent is suitable for both secretion by tissue and secretion by cell.
@V

[2017-02-08 14:12] #12381 closed

[2017-02-08 14:32] ukemi commented on #12991
I think based on the way we have defined gene expression, all mRNA catabolism would be negative regulation because it always takes away the product.

[2017-02-08 15:02] NancyCampbell opened #13005 "missing relation between GO:0051880 G-quadruplex DNA binding & GO:0042162 telomeric DNA binding"
The two papers listed when creating the term look at proteins binding to G-quadruplex structures formed in telomeric DNA.
PMID:16142245
PMID:9512530

Is there a missing relation is_a between the two terms above?

GO:0051880 G-quadruplex DNA binding is_a GO:0042162 telomeric DNA binding

and delete the relation GO:0051880 G-quadruplex DNA binding is_a  GO:0003677 DNA binding

note: the G-rich telom

[2017-02-08 15:06] mah11 commented on #13005
No, because G-quadruplexes are not found exclusively in telomeres. Recent review:  https://doi.org/10.1093/nar/gkv862

[2017-02-08 15:12] NancyCampbell commented on #13005
does is_a signify a subtype?
is GO:0051880 G-quadruplex DNA binding a subtype of GO:0042162 telomeric DNA binding?

[2017-02-08 15:15] mah11 commented on #13005
yes

No, because not all G-quadruplex DNA is found in telomeres. We would be implying that it is if we said that GO:0051880 G-quadruplex DNA binding was a subtype of GO:0042162 telomeric DNA binding.

[2017-02-08 15:41] paolaroncaglia commented on #12253
Hi @BarbaraCzub , here are the new terms:

+id: GO:0097755
+name: positive regulation of blood vessel diameter

+id: GO:0097756
+name: negative regulation of blood vessel diameter

[2017-02-08 15:53] dosumis opened #13006 "regulation of biological process pattern"
regulation of biological process: the general pattern in this branch should be

biological_process that regulates some BP(X)

This has been changed on the root:

![image](https://cloud.githubusercontent.com/assets/112839/22744690/f91f0a3c-ee15-11e6-8f5a-a9bb5580305c.png)

but not on most subclasses.

This is mostly a problem for inference from LEGO.  Many correct inferences will be missed if this

[2017-02-08 15:53] dosumis commented on #13006
This needs to be changes in TermGenie too.

[2017-02-08 17:06] dosumis commented on #13006
Hi Chris - assigning to you to update TermGenie template.

[2017-02-08 17:25] BarbaraCzub commented on #12253
Thanks @paolaroncaglia

[2017-02-08 17:35] tberardini commented on #12991
Action item:

- [ ] add **mRNA catabolism** as an _is_a_ child of **negative regulation of gene expression**

Any objections?

[2017-02-08 17:37] ukemi commented on #13005
So do you want 'telomeric G-quadruplex DNA binding' or can you co-annotate?

[2017-02-08 18:08] ukemi commented on #13000
If I define 'G2 cell size control checkpoint' as:
'mitotic cell size control checkpoint' and ('happens during' some 'G2 phase') and 'negatively regulates' some 'G2/M transition of mitotic cell cycle'
It gets classified as both a 'mitotic cell size control checkpoint' and a 'G2/M transition checkpoint'. A 'G2/M transition checkpoint' is a 'mitotic cell cycle checkpoint' and a 'negative regulation o

[2017-02-08 21:03] slaulederkind opened #13007 "response to cholecystokinin"
I would like to see "response to cholecystokinin” and “cellular response to cholecystokinin” added to the GO ontology under the parent terms “response to peptide hormone” (GO:0043434) and “cellular response to peptide hormone stimulus (GO:0071375), respectively.  The definitions could be “Any process that results in a change in state or activity of a cell or an organism (in terms of movement, secr

[2017-02-08 21:17] keseler opened #13008 "NTR: EC 3.1.3.89, 5'-deoxynucleotidase activity"
Hi,
Could someone create a GO term for this EC reaction?  Proposed definition: Catalysis of the reaction a 2′-deoxyribonucleoside 5′-monophosphate + H2O = a 2′-deoxyribonucleoside + phosphate.  Parent should be GO:0016791.
Thanks,
Ingrid

[2017-02-08 22:15] hdrabkin commented on #13008
Done

[2017-02-08 22:15] #13008 closed

[2017-02-09 04:18] cmungall commented on #13006
I will look into changing, but surely this has no effect on entailment ?

[2017-02-09 06:33] cmungall commented on #12896
We'd need a new robot ticket for the unmireot operation. It's not ideal as it hardcodes assumptions about ID and ownership.

I'll close this for now, we already have an open ticket about the new github pipeline

(btw, 3 is done, https://github.com/ontodev/robot/issues/104)

[2017-02-09 06:33] #12896 closed

[2017-02-09 06:36] cmungall commented on #12211
See the README at the top of this repo. It's a vast improvement. The makefile is still complex, but as simple as I can make it. But crucially there is no complex interdependence of jenkins jobs, and everything is managed from the same directory.

[2017-02-09 06:42] dosumis commented on #13006
In LEGO if BP1 regulates BP2, we want the BP1 node to be an inferred instance of regulation of BP2 (if such a term exists). This will fail if we require the BP1 to already be a subclass of biological regulation.

[2017-02-09 06:44] dosumis commented on #13006
Hmmm - but maybe the hidden GCI on the root is sufficient.    Need to investigate further why deepening to reg failing in some LEGO models.

[2017-02-09 09:06] NancyCampbell commented on #13005
that would be the solution

[2017-02-09 10:09] ValWood commented on #13000
Hi David,

Sorry if this thread got confused.
The 2 actions in my final comment are  totally independent. It would have been clearer if I put the missing parent in a new ticket.

We don't  exepect 'G2 cell size control checkpoint' to be defined as 'regulation of growth' (in line with Midori's comment)

The part related to 'G2 cell size control checkpoint' is done when the missing parent is added.

[2017-02-09 10:23] NancyCampbell commented on #13005
can you please add:
GOC:BHF, GOC:BHF_telomere, GOC:nc
thanks

[2017-02-09 10:57] paolaroncaglia commented on #12253
Following up on the strategy outlined above, I will:

- [ ] Merge ‘negative regulation of vasodilation’ into ‘negative regulation of blood vessel diameter’.
FYI, my rationale for choosing to merge into ‘negative regulation of blood vessel diameter’ rather than ‘vasoconstriction’ is the following:
‘vasoconstriction’ specifically means constriction of smooth muscle cells that line the vessels;
I loo

[2017-02-09 11:23] RLovering commented on #12253
Thanks Paola this sounds right

[2017-02-09 11:54] bmeldal opened #13009 "no TermGenie emails"
I might have missed something but there are no longer email confirmations from TG term creations. This means if I have created a term one day but it take a a few days for it to get into the ontology, how do I find that term in the meantime? Last time I created it again until the reasoner said 'I found an identical term, would you like to use that one?' but it's a bit convoluted.

Thanks,
Birgit

[2017-02-09 12:10] ukemi commented on #13009
Hi Birgit,

You must have missed this email:

Everyone, please note that TermGenie no longer sends out email
notifications when your terms are committed. Apologies for this
inconvenience.

We hope to have something working again when we switch to using GitHub
to manage the ontologies.

-D

[2017-02-09 12:26] ukemi commented on #13009
@cmungall  do we have a time estimate on when these emails will start being sent again?

[2017-02-09 12:33] bmeldal commented on #13009
That's the one! I knew I saw something but couldn't find a GitHub ticket and didn't think about checking through the emails but might have been difficult to find the right one...

[2017-02-09 13:41] ukemi commented on #13007
I added them this way:

 [Term]
+id: GO:0061847
+name: response to cholecystokinin
+namespace: biological_process
+def: "Any process that results in a change in state or activity of a cell or an organism (in terms of movement, secretion, enzyme production, gene expression, etc.) as a result of a cholecystokinin stimulus." [PMID:14622258]
+is_a: GO:0043434 ! response to peptide hormone
+intersectio

[2017-02-09 13:41] #13007 closed

[2017-02-09 14:05] ukemi commented on #13005
[Term]
+id: GO:0061849
+name: telomeric G-quadruplex DNA binding
+namespace: molecular_function
+def: "Interacting selectively and non-covalently with telomeric G-quadruplex DNA structures, in which groups of four guanines adopt a flat, cyclic Hoogsteen hydrogen-bonding arrangement known as a guanine tetrad. The stacking of guanine tetrads results in G-quadruplex DNA structures in telomeres." [GOC

[2017-02-09 14:05] #13005 closed

[2017-02-09 15:34] paolaroncaglia commented on #12253
[annotations_need_checking.xlsx](https://github.com/geneontology/go-ontology/files/764115/annotations_need_checking.xlsx)

[2017-02-09 16:14] paolaroncaglia commented on #12253
@asangrador @almitchell @happy-lorna @ndrawlings @EBI-Hsinyu
Following changes of GO terms related to ‘vasodilation’, I merged GO:0042312 ‘regulation of vasodilation’ into ‘regulation of blood vessel diameter’. This affects InterPro because GO:0042312 ‘regulation of vasodilation’ has 5 InterPro mappings, which I suggest to move instead to GO:0042311 ‘vasodilation’. The mappings are:
IPR000147
IPR0

[2017-02-09 16:32] dosumis commented on #12995
I think we should obsolete all of the process terms 'activation of fu activity' (BP).  It's too confusing to have these and the 'fu activity activation' terms (MF).

[2017-02-09 18:53] krchristie commented on #12178
Hi,

I haven't thought about this much since the transcription overhaul that @ukemi and I did in 2010, though we did do some work on bacterial transcription then, though I thought these were OK then. However, Jim is clearly much more knowledgable on bacterial transcription than I am.

If Jim needs more specific terms, we should create them, but these the two terms "GO:0031555 transcriptional atten

[2017-02-09 18:53] krchristie commented on #12991
none here

[2017-02-09 19:03] ukemi commented on #12991
none here

[2017-02-09 19:53] ukemi commented on #13000
So does what I have below work? I'm still not sure exactly what you want. This will make the G2 size control checkpoint a type of G2/M transition checkpoint, which makes sense to me.

If I define 'G2 cell size control checkpoint' as:
'mitotic cell size control checkpoint' and ('happens during' some 'G2 phase') and 'negatively regulates' some 'G2/M transition of mitotic cell cycle'
It gets classifi

[2017-02-09 20:30] ValWood commented on #13000
Yes.
That covers one item. I'm sorry this ticket got so confused. I will try not to do this again;)
Should I open a new ticket for the outstanding part ;)

[2017-02-10 01:23] tberardini commented on #12991
+is_a: GO:0010629 ! negative regulation of gene expression

[2017-02-10 01:23] #12991 closed

[2017-02-10 01:26] tberardini commented on #12989
Still no joy on seeing TG recognize 1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one

@cmungall - I don't think your manual trigger did its job.  Can you please check? Thanks.

[2017-02-10 01:49] cmungall commented on #12989
we're now using the central obo build, but this failed due to the size of the json file. We'll skip generating the json for now. Try again tomorrow, sorry.

[2017-02-10 09:28] mcourtot commented on #12902
looking at the owl file the dc namespace definition is still there, but the dc:title AP itself is missing. Lost in some round tripping?

[2017-02-10 09:50] RLovering commented on #12253
Hi Paola

so for O35607 Bmpr2 which is annotated to GO:0045906 negative regulation of vasoconstriction this should be annotated with the GO term: negative regulation of blood vessel diameter.
but this doesn't imply whether the blood vessel diameter is smaller or larger as a result. How are we supposed to indicate this. The diameter size is an important aspect of human system, and neg reg of vasoco

[2017-02-10 11:57] ukemi commented on #13000
Yes. Please open it and assign it to me.

[2017-02-10 12:14] rachhuntley opened #13010 "OTR: vascular smooth muscle cell differentiation involved in phenotypic switching"
Discussed with @ukemi and @tberardini

GO:1905420 'vascular smooth muscle cell differentiation involved in phenotypic switching' was created in TermGenie, however its placement in the ontology and the logical definition is not quite right.
It's currently part_of 'phenotypic switching' and is_a 'vascular smooth muscle cell differentiation'.
The term should be a direct child of 'cell differentiation

[2017-02-10 12:15] ukemi commented on #13000
First part done. Val will open a new ticket for the rest.

[2017-02-10 12:15] #13000 closed

[2017-02-10 12:24] ukemi commented on #13010
Thanks @rachhuntley
I'm not sure how to link a comment to the tickets, but how about I add something like this to this term and its parent?

Note that although this term uses the phrasing of cell differentiation, it differs from differentiation in the sense of differentiation that occurs as a developmental progression of an organism. Therefore this term is not classified as a type of canonical cel

[2017-02-10 12:33] ukemi commented on #13009
Hi @bmeldal

I'm going to close this one as it is a known issue that will hopefully be resolved once the switch is made.

-D

[2017-02-10 12:33] #13009 closed

[2017-02-10 13:45] ukemi commented on #13010
I'm not sure either. I think regeneration is certainly considered a developmental process. Maybe it is similar enough to canonical differentiation that it should be included.  @tberardini ?
In that case then all we need to do is add a parent and keep it classified to both.

[2017-02-10 14:31] mcourtot opened #13011 "UNSAT in Uberon"
![screen shot 2017-02-10 at 14 29 22](https://cloud.githubusercontent.com/assets/2214135/22830175/6b064498-ef9d-11e6-88e8-f6949a701126.png)

causing the build and TG to fail

cc @hattrill

[2017-02-10 14:46] mcourtot commented on #13011
There seems to have been changes made in Oberon that are not yet reflected in GO, e.g.:

In GO; reproductive structure is equivalent to 'anatomical structure'
 and ('part of' some 'reproductive system')
In Uberon,  reproductive structure is equivalent to 'multicellular anatomical structure'
 and ('part of' some 'reproductive system')

[2017-02-10 15:11] slaulederkind commented on #12959
Yes, that sounds good.

[2017-02-10 15:39] hbye opened #13012 "NTR: Peptidyl-arginine methylation, to form monomethylarginine"
Hello,

Please may I request the following new term:

"Peptidyl-arginine methylation, to form monomethylarginine."
Alternatively, this could be "Peptidyl-arginine methylation, to form methylarginine" (as is phrased in GO:0042037) or perhaps "Peptidyl-arginine methylation, to monomethylarginine" as is phrased in GO:0019918 and  GO:0019919.

This relates to the PMID:21531333, whereby methyltransfera

[2017-02-10 15:48] rachhuntley commented on #13010
I was just going to say that it couldn't be the same as cell differentiation because you're not starting from an unspecialised cell, but looking at the definition of cell differentiation it says "The process in which relatively unspecialized cells, e.g. embryonic or regenerative cells, acquire specialized structural and/or functional features that characterize the cells, tissues, or organs of the

[2017-02-10 16:01] ukemi commented on #13010
Or even more directly I think it could be considered unspecialized. We kept that purposefully vague because often times the 'specialization' that occurs in development is progressive as lineages differentiate.

[2017-02-10 16:41] ukemi commented on #12912
OK. I hope I got everything. I also changed the synonyms appropriately.

[2017-02-10 16:41] #12912 closed

[2017-02-10 17:03] ukemi commented on #13012
I think this is covered by the molecular function since it is a single gene product working on a single molecule. It makes sense that the other terms to which you refer are processes because there are two methylation steps in the formation of the product.

[2017-02-10 17:33] tberardini commented on #13010
+1

Based on the definition of 'cell differentiation' (...relatively unspecialized cells...),  I agree that we can  keep 'cell differentiation involved in phenotypic switching' as a child of 'cell differentiation'.  I'm not sure which terms were involved in this statement, "In that case then all we need to do is add a parent and keep it classified to both."

[2017-02-10 17:35] ukemi commented on #13010
Sorry @tberardini

vascular smooth muscle cell differentiation involved in phenotypic switching
would become both is_a vascular smooth muscle cell differentiation and is_a cell differentiation involved in phenotypic switching. I can probably do this through the magic of the reasoner.

[2017-02-10 17:43] tberardini commented on #13010
Got it.  All clear now.  Thanks.

[2017-02-10 18:10] ukemi commented on #12959
[Term]
+id: GO:0061850
+name: growth cone leading edge
+namespace: cellular_component
+def: "That part of the growth cone which represents the distal part of the structure." [PMID:10797548]
+intersection_of: GO:0031252 ! cell leading edge
+intersection_of: part_of GO:0090725 ! peripheral region of growth cone
+
+[Term]
+id: GO:0061851
+name: leading edge of lamellipodium
+namespace: cellular_compo

[2017-02-10 18:10] #12959 closed

[2017-02-10 18:24] ukemi commented on #13004
Dear all,

The proposal has been made to obsolete the following terms:

GO:0001618 virus receptor activity

The reason for obsoletion is that it is a non-cannonical function. For
example, CD4 did not evolved to bind HIV, HIV evolved to bind CD4.

All details here:
https://github.com/geneontology/go-ontology/issues/13004

There are 32 annotations to this term with experimental evidence
supporting t

[2017-02-10 18:45] ukemi commented on #12953
I went ahead and asserted all the steroid parents for metabolism, biosynthesis and catabolism. At some point hopefully they will be inferred.

[2017-02-10 18:45] #12953 closed

[2017-02-10 19:30] ukemi commented on #12968
@deustp01  I requested the chemicals to be classified as fatty acid derivatives on the ChEBI tracker. Once that happens, they will be automatically classified in GO.

[2017-02-10 19:30] #12968 closed

[2017-02-10 22:20] cmungall commented on #13011
Fixed in r38696

[2017-02-10 22:20] #13011 closed

[2017-02-10 23:19] tberardini commented on #12886
Term made obsolete.

 [Term]
 id: GO:0000059
-name: protein import into nucleus, docking
+name: obsolete protein import into nucleus, docking
 namespace: biological_process
-def: "A protein complex assembly process that contributes to protein import into the nucleus, and that results in the association of a cargo protein, a carrier protein such as an importin alpha/beta heterodimer, and a nucleopo

[2017-02-10 23:19] #12886 closed

[2017-02-10 23:24] tberardini commented on #12989
Will try again on Monday.  Still nothing today.

[2017-02-10 23:36] selewis opened #13013 "Slim needed for AGR ribbon view"
Consisting of these terms (will be using closure)
GO:0003824 catalysis  OK
GO:0004872 receptor OK
GO:0005102 receptor binding OK
GO:0005215 transporter OK
GO:0005198 structural molecule OK
GO:0008092 cytoskeleton binding OK
GO:0003677 DNA binding OK
GO:0003723 RNA binding OK
GO:0008134 transcription factor -> This is tx factor *binding*
-> used "GO:0001071 nucleic acid binding transcription factor

[2017-02-11 13:30] dosumis commented on #13004
- [ ] Consider adding reciprocal MFs -  e.g. 'binding to viral entry receptor' - to use in annotating viral proteins
- [ ] TODO check whether existing annotations have extensions referencing bound viral protein

[2017-02-12 16:22] ValWood opened #13014 "Pseudouridine-5'-phosphate glycosidase"
I'm looking for a term to describe this activity:
Pseudouridine-5'-phosphate glycosidase
Uracil + D-ribose 5-phosphate = pseudouridine 5'-phosphate + H2O.

http://hamap.expasy.org/unirule/MF_01876
http://www.ebi.ac.uk/interpro/entry/IPR007342
http://enzyme.expasy.org/EC/4.2.1.70

[2017-02-12 16:25] ValWood commented on #13014
OK it's this:
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004730

[2017-02-12 16:25] #13014 closed

[2017-02-12 16:34] SIBvirus commented on #13004
Hi David,

I see your point. I agree that binding viruses is not the primary molecular function of these host cell receptors and that this GO term should be deleted. The host cell receptor is "hijacked" by the virus (which could be described as a biological process).

However I am not sure to understand what you mean by adding "binding to viral entry receptor". This term is a bit confusing... Ther

[2017-02-13 08:44] mcourtot commented on #13011
Thanks Chris!

[2017-02-13 10:41] NancyCampbell commented on #11574
Thank you.
Can you please add
GOC:nc
GOC:BHF
GOC:BHF_telomere
Nancy

[2017-02-13 10:57] dosumis commented on #12995
In discussion in LA, it was generally agreed that we shouldn't distinguish direct activation from direct positive regulation.  I agree that this makes the name 'activator' a little tricky.

In logical definitions, 'X activator activity' is (now) defined as any MF that directly_positively_regulates some X.    We need to update all the text definitions to fit this.  How about:

protein kinase activa

[2017-02-13 11:33] dosumis commented on #12995
[Draft template](https://github.com/geneontology/design_patterns/blob/master/draft_patterns/activator_activity.yaml)

[2017-02-13 13:13] ValWood commented on #11574
This the  described activity?
GO:1990817 RNA adenylyltransferase activity
needs synonyms etc...

[2017-02-13 13:21] NancyCampbell commented on #11574
Yes and no.
looking for a less specific term? i.e. for any nucleotide not adenine in particular. I looked at the tree ... but can't find a suitable less granular parent.
Please advise.
thanks.

[2017-02-13 13:30] ValWood commented on #12995
Hi David,

I think that your solution makes sense based on the decision. I am still slightly  nervous that this decision will not allow us to capture biology precisely, but I think the more general approach is probably sensible here at this stage....

v

[2017-02-13 13:34] ValWood commented on #11574
There is also
GO:0050265 RNA uridylyltransferase activity

but  you are right a general "polynucleotide transferase" term would help here...
v

[2017-02-13 13:56] ValWood opened #13015 "scope of causally upstream of"
I'm still a bit confused about how  we should use this relation.

To start, the definition/usage appears to be inconsistent with the descendants.

Definition
p is causally upstream of q if and only if p precedes q and p and q are linked in a causal chain

Usage
Process A is causally_upstream of process B if process A occurs first, and process A causes process B to happen. Processes A and B do not

[2017-02-13 13:58] ValWood commented on #13015
Although the "directly regulates" etc  the scope says they can be used for MF, but the usage does not...

[2017-02-13 13:58] paolaroncaglia commented on #12253
Hi @RLovering ,
I haven't fully revised the vasoconstriction branch yet, but I'll keep your comment above in mind. (Neg reg of vasoconstriction means that the diameter does not decrease, so it's certainly not the same as neg reg of diameter ;-) perhaps you meant 'reg. of diameter', but I will look into terms and annotations and formulate a plan, I do agree that these terms are problematic but hope

[2017-02-13 14:06] dosumis commented on #13015
I agree that the definitions need to be improved and guidance added, but I don't see a contradiction here.

Process is used in the general sense (both MF and BP in GO are processes - MF is a process carried out by a single gene product or complex).  If MF1 directly regulates MF2, MF1 is causally upstream of MF2: It precedes MF2 and causes MF2 to happen.

[2017-02-13 14:06] #13015 closed

[2017-02-13 14:08] ValWood commented on #13015
Ah OK,  so it doesn't not mean process in the BP sense?

I was thinking that
A phosphorylates and directly activates B  and that both A and B are involved in the same process C

[2017-02-13 14:41] ukemi commented on #13010
OK. These were already part of reversible differentiation, which I think disambiguates them from regular differentiation. I added logical defs and it all looks good. Let me know if you spot any oddities.

[2017-02-13 14:41] #13010 closed

[2017-02-13 14:50] dosumis commented on #11574
Sorry. Rubbish at remembering to add these.  Now added

From the discussion, it seems like I should move these subclasses under the new term.

GO:1990817 RNA adenylyltransferase activity
GO:0050265 RNA uridylyltransferase activity
RNA guanylyltransferase activity

Need to be sure that these are all template-free though.

Possibly also
tRNA nucleotidyltransferase activity
tRNA guanylyltransferase a

[2017-02-13 14:51] NancyCampbell commented on #11574
Thank you David.

[2017-02-13 14:53] ValWood opened #13016 "missing relationships in AR relations ontology/graph"
My understanding was that  directly regulates, and descendants were to  describe the situation when one gene MF directly regulates another i.e.

![sf1](https://cloud.githubusercontent.com/assets/7359272/22887853/7ee7e718-f1fb-11e6-9930-a76c1d2c70d9.jpg)

but

Q directly regulates does not have the parent direct_input (should it?)

Also,  directly regulates, and children are described for use with

[2017-02-13 15:07] ValWood commented on #13016
Actually am I even looking at the right thing?

I'm  looking at this:

But I just forgot about the AE tracker (maybe should have posted there)?

Anyway this ticket
https://github.com/geneontology/annotation_extensions/issues/63

shows very different relations
![differetn](https://cloud.githubusercontent.com/assets/7359272/22888558/19d55862-f1fe-11e6-90ae-85b4463afa7d.jpg)

[2017-02-13 15:22] dosumis commented on #13016
No, because the regulates relations apply between processes (in the broad sense - so including MF and BP).  has_input is a relation between a material entity (e.g. a gene product, a chemical and a process (broad sense again).

In this case, while biologists may say that gene product X (directly) regulates gene product Y, in GO we record that some specific activity of gene product X (directly) regu

[2017-02-13 15:31] dosumis commented on #13016
Depends what you're trying to do...

Your second comment appears to be about the new qualifiers.  Here's a table of relation hierarchies + their domains and ranges.

| ancestor relation | domain | range |
|-----------|--------|-------|
| causally upstream of or within  | gene product | biological_process |
| causally upstream of | process (MF or BP) | process (MF or BP) |
| has participant | proce

[2017-02-13 15:34] dosumis commented on #13016
The intent here is, I think, that BP1 directly_regulates BP2 if (and only if):

BP1 regulates BP2
MF1 regulates MF2
MF1 part_of BP1
MF2 part of BP2

This probably needs some more thought.  We certainly don't have the axioms in place to infer this.

[2017-02-13 15:46] ValWood commented on #13016
OK I got confused. I am only interested in the scope of relations for annotations extensions at present, not the "new" qualifiers.

I still  don't understand your explanation of why  for AE extensions "directly regulates" is not an example of "has_substrate". I guess I don't understand how you could use this relationship to
extend an annotation with a gene product  which is not also a  direct subs

[2017-02-13 15:55] dosumis commented on #13016
extend an annotation with a gene product which is not also a direct substrate of the molecular function that is a descendant of a single step process.

You are correct.  But if you tried to solve this by making has_substrate an ancestor or has_direct_input you would end up inferring that a kinase *activity* is a substrate when you want to record that the gene product which has the kinase activity

[2017-02-13 16:16] cmungall opened #13017 "Organize Protege go-editors documentation"
Under http://wiki.geneontology.org/index.php/Category:Protege we have

 - http://wiki.geneontology.org/index.php/Protege_5 - this seemed to be out of date, I renamed the page to 5-beta
 - http://wiki.geneontology.org/index.php/Protege_setup_for_GO_Eds - out of date material at top but main text is v useful and still current
 - http://wiki.geneontology.org/index.php/Ontology_editor_plugins now a bi

[2017-02-13 16:26] cmungall opened #13018 "Prepare for Berkeley Protege/OWL 2017 workshop"
First:

 - [ ] #13017 organize docs
 - [x] #12211  migrate to gh

Proposed agenda is here:

 * http://wiki.geneontology.org/index.php/Protege-OWL_Berkeley_Training_2017_Logistics
 * http://wiki.geneontology.org/index.php/Protege-OWL_Berkeley_Training_2017_Agenda

Some good ideas from @ukemi
 * @cmungall to present the theory and the nuts and bolts of setting up protégé and commiting to GH (if we a

[2017-02-13 16:32] NancyCampbell commented on #12984
can you please add the reference PMID:27918544. Sorry I had not noticed it was missing earlier.

In the future, is it better to start a new ticket for this or do as I have done now? (I am not sure what to do when the ticket is closed). or maybe add at the beginning to say no need to re-open ticket just minor correction etc. Thanks.

[2017-02-13 16:55] tberardini commented on #12984
Better to reopen the ticket.  That way all the related comments stay together and we can see that there's still something left to be done.

[2017-02-13 16:57] Antonialock opened #13019 "missing parent to GO:0090539 peptide pheromone export by transmembrane transport"
Hello,

I guess
GO:0090539 peptide pheromone export by transmembrane transport

should be a child of
GO:0035672 	oligopeptide transmembrane transport ?

Thanks
Antonia

[2017-02-13 17:01] ValWood commented on #13016
http://www.ebi.ac.uk/QuickGO/AnnotationExtensionRelations.html

Hmm, we have been using these extensions thus:

wee2 protein tyrosine kinase activity directly_inhibits cdc2
(lots of annotations coming  through in our next update)

So it seems that there isn't an extension to specify this (I don't understand the explanations in the docs). We need something which means "directly inhibits the activit

[2017-02-13 19:52] tberardini commented on #12989
@cmungall : Still no '1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one' in TG :(

[2017-02-13 20:05] ukemi commented on #13013
This will provide a nice example of creating slims for next week's workshop.

[2017-02-13 23:58] cmungall commented on #12989
OK, should work tonight

[2017-02-14 00:01] tberardini commented on #12989
Thanks, Chris.  Fingers crossed.

[2017-02-14 00:09] tberardini commented on #12984
Done.
- [GOC:BHF, GOC:BHF_telomere, GOC:nc]
+[GOC:BHF, GOC:BHF_telomere, GOC:nc, PMID:27918544]

[2017-02-14 00:09] #12984 closed

[2017-02-14 00:17] tberardini commented on #13019
Added:

 is_a: GO:0000770 ! peptide pheromone export
+is_a: GO:0035672 ! oligopeptide transmembrane transport
 is_a: GO:0055085 ! transmembrane transport

[2017-02-14 00:17] #13019 closed

[2017-02-14 00:25] tberardini commented on #12995
@dosumis : Computationally? :)

[2017-02-14 08:23] ValWood commented on #13016
OK Midori explained the part I don't understand. More later...

[2017-02-14 08:23] #13016 closed

[2017-02-14 09:05] Antonialock commented on #13019
Thanks Tanya!

[2017-02-14 09:07] paolaroncaglia commented on #12253
@RLovering , @BarbaraCzub

Looking at the vasoconstriction branch highlights yet more work to do. At first sight, the areas in need of revision are not only the existing regulation terms, but also the link with ‘vascular smooth muscle contraction’ (currently is_a ‘vasoconstriction’). Quickly put: vasoconstriction refers to decrease in diameter of a whole blood vessel; the vessel is made of endothe

[2017-02-14 10:19] mcourtot commented on #11529
Hi @ValWood: @bmeldal proposes a NTR "chaperone complex" defined as

[code]

@paolaroncaglia mentioned you were part of the 2008-2009 chaperone discussions; would you be able to weigh in as to whether this term is ok or not in the light of those?

[2017-02-14 10:41] dosumis commented on #13016
directly_inhibits means directly_inhibits *activity* of

This is (or should not be) a legal annotation extension:

LEGO semantics allows us to capture the following:

**In English:** wee2 is capable of tyrosine kinase activity that directly inhibits the protein kinase activity of CDC2
(wouldn't it be nice if we could display it like this?!)

**IN LEGO:** [wee2] <-enabled_by\*-[protein kinase activ

[2017-02-14 11:28] dosumis commented on #12999
The branch already has:

![image](https://cloud.githubusercontent.com/assets/112839/22927350/97f2c2e8-f2a8-11e6-8031-b586e5292d61.png)

[2017-02-14 11:31] dosumis commented on #13015
Correct.

[2017-02-14 11:33] dosumis opened #13020 "Refactor cell-communication / cell-cell signaling to move start point for signal transduction"
_From @dosumis on February 13, 2017 12:8_

Motivation:  We need a partonomy for cell-communication and cell-cell signaling that is suitable for providing differentia to define MFs for *signaling* receptors and their ligands.  The current partonomy does not work for this.

cell communication (covers signaling between ECM and cell as well as cell-cell signaling)
.    <-po- signal transduction (start

[2017-02-14 13:29] ValWood commented on #12999
OK.
We will need to migrate our protein kinases to these terms to collect a "signalling parent"

However Ithe term names seem unnecessarily long.

Could they be shortened from:

signal transducer, downstream of receptor, with serine/threonine kinase activity
Definition	Conveys a signal from an upstream receptor or intracellular signal transducer by catalysis of the reaction: ATP protein serine = A

[2017-02-14 13:50] dosumis commented on #12999
Hi Val,

All good points and very timely given current discussions with @thomaspd on MF refactoring.

ST in GO is already broader than signaling from receptors, but as a developmental biologist my instinct when talking about signal transduction is to assume we're talking about signaling downstream of receptors detecting an extracellular signal.  We could divide signal transduction up into

signal

[2017-02-14 13:52] ValWood commented on #11529
Yes. This supports my request that
GO:0044183 protein binding involved in protein folding
be renamed to
"protein folding chaperone activity" to be more understandable to biologists....

[2017-02-14 14:08] ValWood commented on #12999
I don't think this split would help. Often we annotate protein kinases which are known to be part of signalling pathways, but we can't be sure if they are downstream of receptors or intracellular signals. The pathway information is still very fragmentary.
We know they are a signal transducer, and we know they are a protein kinase.
So, if you can't remove the "downstream of receptor" part from the

[2017-02-14 14:18] mcourtot commented on #11529
Looking at metallochaperone complex - should they infer under chaperone complex?

[2017-02-14 14:24] mcourtot commented on #11529
I created chaperone complex and changed the definition of HSP90-CDC37 chaperone complex/
I moved the existing chaperone/chaperonin under chaperone complex.
Question remains for metallochaperone complexes, currently defined as 'macromolecular complex' and ('capable of' some 'metallochaperone activity'). If needed, please open a separate ticket.

[2017-02-14 14:36] ValWood commented on #11529
Actually I think there could be a problem. Chaperone isn't a single activity, its a collection of activities.

So the def:
A protein complex required for the non-covalent folding or unfolding, maturation, stabilization or assembly or disassembly of macromolecular structures. Usually active during or immediately after completion of translation. Many chaperone complexes contain heat shock proteins.

[2017-02-14 14:40] mcourtot commented on #11529
I think that when we say "chaperone complex capable of GO:0044183 protein binding involved in protein folding" we don't imply that it is the *only* thing it is capable of, so this is at least not wrong. We could add different activities if needed?

[2017-02-14 14:41] ValWood commented on #11529
OK go with it. The rest is for another day ;)

[2017-02-14 14:44] mcourtot commented on #11529
well I still would like it to be clean if possible ;)
If we want to keep the general chaperone complex term we should make sure that, as you mention,  other flavours of chaperone infer properly under it - at least for those we already have - thus the question for the metallochaperone. I'll create a new ticket to not confuse this one. Thanks for the feedback @ValWood !

[2017-02-14 14:47] mcourtot opened #13021 "Activities of chaperone complex"
A general chaperone complex term was created as requested by @bmeldal. However, [in the ticket](https://github.com/geneontology/go-ontology/issues/11529), @ValWood [commented](https://github.com/geneontology/go-ontology/issues/11529#issuecomment-279723614) that there are other activities (in addition to "capable of GO:0044183 protein binding involved in protein folding") that chaperone complexes h

[2017-02-14 14:48] #11529 closed

[2017-02-14 15:10] dosumis commented on #12999
I agreed to change the names to `signal transducer, protein kinase activity` etc in [my first comment on this ticket](https://github.com/geneontology/go-ontology/issues/12999#issuecomment-277666559) :).  These terms will be part of signal transduction (general class). Sorry if not clear.

In as far as we capture this, we should do so using inference.  That's the plan for LEGO.  Some of the same in

[2017-02-14 15:26] dosumis commented on #12995
Ideally. This will require specification of the pattern fillers (regulated activity for each class).  We have these for a minority of the 203 classes (those already with logical defs).  The rest would need to be specified by hand.

@balhoff How close is your DOSDP scowl library to being usable for a retrofit like this? For those already with logical defs, we could use your SPARQL query system to p

[2017-02-14 16:01] mcourtot commented on #12975
@dosumis: this seems to have been done - close?

[2017-02-14 18:50] cmungall commented on #12975
I think it should be response is_a single-org process, part-of a
multi-org process

On 14 Feb 2017, at 8:02, Melanie Courtot wrote:

[2017-02-14 20:38] dosumis commented on #12975
@tonysawfordebi Is it necessary that a term be a subclassOf multi-organism process in order to specify a second taxon in protein2GO, or can it be a descendant via part\_of ?

[2017-02-14 20:47] tberardini commented on #12989
@cmungall : Nope :(

[2017-02-14 20:48] tberardini commented on #13021
Who has the necessary expertise to address this missing info issue?  Or do we need someone to dive into the chaperone literature?

[2017-02-14 21:26] dosumis commented on #12995
Update:  I've generated a [tsv file](https://gist.github.com/dosumis/4d899727896367c9b432e733e120b675)  => current spec for this branch using OBO-graphs.   This includes definition xrefs + pattern filler column. About 40 have logical defs so far, a few of which don't conform to the standard pattern.  The rest need mapping to the regulated function.

@balhoff: With that in place + pattern docs, cou

[2017-02-14 21:31] dosumis commented on #12995
activation of fu activity terms - potential candidates for obsoletion as single step BPs (involved_in ones should be looked at carefully - check if direct?)

'activation of GTPase activity'
'activation of JAK1 kinase activity'
'activation of JAK2 kinase activity'
'activation of JNKK activity'
'activation of JNKKK activity'
'activation of JUN kinase activity'
'activation of Janus kinase activity'
'

[2017-02-15 07:31] ValWood commented on #12995
good plan ;)

or merge up?

[2017-02-15 07:52] paolaroncaglia commented on #12253
@RLovering , @BarbaraCzub, @rachhuntley
I discussed this ticket briefly with @ukemi. He has some thoughts about it, and agrees that it would be a really good case for LEGO. I'm handing it over to him so he can continue where I left, as I'm wrapping up my ontology tickets. Thanks.

[2017-02-15 08:59] mcourtot commented on #13021
I'll tag this as mini-project. At the moment things are not wrong, but they are I believe incomplete. In the [original ticket](https://github.com/geneontology/go-ontology/issues/11529), @paolaroncaglia mentioned that there has been a WG on chaperone in 2008-2009, and I'm hoping that people that were involved in those discussions ( @ValWood, @ukemi at least I suspect?) as well as @bmeldal who reque

[2017-02-15 09:02] ValWood commented on #13021
Agree this is none urgent. These chaperone flavour activities   will be required  eventually for LEGO modelling...maybe best to ignore until absolutely needed by an actual biological example...

[2017-02-15 09:04] bmeldal commented on #13021
Thanks, and sorry for not commenting yesterday, I was on childcare duty in the afternoon and without wifi... (in the centre of Cambridge as well!)

@mcourtot can you please paste the stanza for chaperone complex as it's not in the ontology yet so I can't see it.

Chaperones are often involved in the transport of proteins or complexes to their functional site as well (effectively acting as guides).

[2017-02-15 09:11] mcourtot commented on #13021
Here is the current stanza:
[Term]
id: GO:0101031
name: chaperone complex
namespace: cellular_component
def: "A protein complex required for the non-covalent folding or unfolding, maturation, stabilization or assembly or disassembly of macromolecular structures. Usually active during or immediately after completion of translation. Many chaperone complexes contain heat shock proteins." [GOC:bhm, PM

[2017-02-15 09:15] bmeldal commented on #13021
Thanks, Melanie.
Yes, not incorrect but probably incomplete.

[2017-02-15 10:38] mcourtot commented on #12975
was looking at "killing by virus of host cell during superinfection exclusion" which is a subclass of "response to virus", itself a subclass of "response to other organism". It is defined as "The viral-killing of a host cell by a pre-existing virus in response to a subsequent infection of the host cell by second virus." - if we keep this classification then response to other organism would have to

[2017-02-15 11:31] pgarmiri opened #13022 "NTR: protein kinase B catalytic subunit binding"

[2017-02-15 11:35] #13022 closed

[2017-02-15 12:58] mcourtot commented on #12178
Thanks @krchristie for the feedback. I did the update to site(s).

@jimhu-tamu: can you please comment on other aspects of this request? I'll otherwise will close the ticket as "Won't fix" by Thursday feb 23rd. Thanks!

[2017-02-15 13:28] mcourtot commented on #11313
@tberardini: is it correct to say pollen wall part_of some pollen sac ( http://purl.obolibrary.org/obo/PO_0025277)? Or can you suggest the most appropriate PO term?

[2017-02-15 13:39] mcourtot commented on #11313
Requested papilla cell (PO:0025166).

Re pollination: should the label be updated to "plant pollination"? Other suggestion? I can make it into a single organism reproductive process (GO:0044702) and add the following TX:
relationship: only_in_taxon NCBITaxon:33090 {id="GOTAX:0000422"} ! Viridiplantae (green plants)
relationship: only_in_taxon NCBITaxon:3398 {id="GOTAX:0000418"} ! Magnoliophyta (fl

[2017-02-15 16:15] hbye commented on #13012
Hello,

Thank you for your feedback.

I think a corresponding PROCESS would also be helpful for
FUNCTION GO:0035241 protein-arginine omega-N monomethyltransferase activity
as the production of monomethylarginine, although described as an intermediate, is sometimes also the end product (fig 1 of PMID:21531333).

Also, I noticed that the following PROCESS terms exist for FUNCTION terms for asymmetri

[2017-02-15 16:49] paolaroncaglia commented on #10828
Note for self: I’m going to have to leave this for now, and hopefully come back to it sometime in the near future if/when publication plans are finalised. But it makes more sense to leave it assigned to me.

[2017-02-15 16:59] paolaroncaglia commented on #9913
Hi @ukemi,
This ticket is about an ontology mini-project to define start and end of DNA replication initiation. It requires some reading and/or specialistic knowledge of the field. Perhaps this can be taken on board by someone else in the future. I’ll assign it to you though, rather than leave it unassigned, so it doesn’t get lost. Thanks!

[2017-02-15 17:02] paolaroncaglia commented on #12215
Hi @ukemi (and FYI @RLovering),
I’m going to assign this to you David as part of the cardiac conduction work, with many thanks.

[2017-02-15 17:09] paolaroncaglia commented on #11247
Hi @ValWood,
I’m going to unassign myself from this ticket. However, rather than leaving it unassigned, I’ll give it to you. If it’s no longer relevant, please close it. Otherwise, perhaps when you have had time to look into it, you could collate the relevant info in a new ticket - and close this one. Thanks.

[2017-02-15 17:55] ValWood commented on #11247
No problem,
val

[2017-02-15 20:44] slaulederkind opened #13023 "snoRNP binding children"
I would like to see " box C/D snoRNP complex binding” and “box H/ACA snoRNP complex binding” added to the GO ontology under the parent term “snoRNP binding” (GO:0030519).  The definitions could be “Interacting selectively and non-covalently with any part of a box C/D small nucleolar ribonucleoprotein particle.” and “Interacting selectively and non-covalently with any part of a box H/ACA small nucl

[2017-02-16 05:30] jimhu-tamu commented on #12178
Hi Melanie,

Apologies for the very slow replies. I was hoping to set aside some time to dig into the literature. I've been discussing this with Debby and looking at papers today, but it's complicated so I'm going to put my thinking in a [Google Doc](https://docs.google.com/document/d/1kO1Tu3G8gOQIPX57zY_AwWO4d9SBgZBQqAgrvS0hLjg/edit?usp=sharing)

[2017-02-16 08:18] #10445 closed

[2017-02-16 08:23] RLovering commented on #11269
Hi All

the problem with BP and MF and CC terms wrt oligomerization materialised again in one of the UCL team meetings.

It does seem like several people agreed with the following concepts:

BP term for protein complex assembly (and removing the BP oligomerization terms) to enable more consistent annotation to this term, with the proteins facilitating the assembly annotated to this term (but not p

[2017-02-16 09:05] mcourtot commented on #12178
Hi @jimhu-tamu - no problem, this is a complex topic which requires time, and I really appreciate you and others going in depth to make sure it is done right. I am trying to address my tickets before the end of the grant (end February), but @ukemi kindly agreed to take over this one if not done by then, so I'll co-assign him now anyway.

[2017-02-16 11:27] #11123 closed

[2017-02-16 11:36] paolaroncaglia commented on #12812
Hi @ukemi,
I’ve completed my tasks for this ticket, and the only thing left to do (low priority) is to add a Rhea dbxref if/when a Rhea entry is created (details above). Therefore I will now unassign myself from this ticket. However, since unassigned tickets tend to fall through the cracks when they’re not recent, I will assign it to you (as main ontology editor at this stage), and you can then ha

[2017-02-16 11:39] paolaroncaglia commented on #12742
Hi @ukemi,
I’ve completed my tasks for this ticket, and the only thing left to do (low priority) is to add a logical definition if/when a FAO term is created (details above). Therefore I will now unassign myself from this ticket. However, since unassigned tickets tend to fall through the cracks when they’re not recent, I will assign it to you (as main ontology editor at this stage), and you can th

[2017-02-16 11:43] paolaroncaglia commented on #12739
Hi @vanaukenk and @ValWood,

Given the broad scope and timescale for this ticket, I will unassign myself now, and add Kimberly instead. Thanks.

[2017-02-16 11:49] paolaroncaglia commented on #12659
Hi @ukemi, another one -
I’ve completed my tasks for this ticket, and the only thing left to do (low priority) is to add a logical definition if/when a FAO term is created (details above). Therefore I will now unassign myself from this ticket. However, since unassigned tickets tend to fall through the cracks when they’re not recent, I will assign it to you (as main ontology editor at this stage),

[2017-02-16 11:54] paolaroncaglia commented on #12449
Hi @ValWood ,
You mentioned that this ticket is not urgent, so I'll assign it to you. Perhaps some of the chaperone-relevant issues could connect to other existing tickets e.g. https://github.com/geneontology/go-ontology/issues/13021. Thanks.

[2017-02-16 12:45] ukemi commented on #13012
Hi Hema,

In the latter two cases that you point out, the process includes the addition of both methyl groups to the arginine, so it is the result of the execution of two molecular function events. In the case of the term you are requesting, the formation of the monomethylated protein is the result of a single execution of a molecular function, whether it is an intermediate or a final product. So

[2017-02-16 12:52] paolaroncaglia commented on #12432
Hi @hdrabkin ,
This ticket is about non-urgent work on enzyme terms. I’m wrapping up my tickets, so will unassign myself from this one and hand it over to you, but feel free to discuss with @ukemi and others if someone else should look into it instead. Thanks.

[2017-02-16 12:56] paolaroncaglia commented on #12387
Hi @ValWood ,
The only task remaining for this ticket is low priority and pertains to annotation as well as ontology. I'll assign it to you since you opened the ticket originally and so it doesn't fall through the cracks. Thanks.

[2017-02-16 13:03] mcourtot commented on #11433
Updating relations was done. Ticket was left open for a review of logical axioms on cell migration terms which seems low priority at this stage, thus closing. Please open distinct ticket (possibly label as mini-project) if desired.

[2017-02-16 13:03] #11433 closed

[2017-02-16 13:20] paolaroncaglia commented on #12229
I think this is really low priority, and didn't stem from a curator's request, so I'll close it. The idea could be revisited in the future if there is interest and resources, but the same might apply for other branches in GO that have annotation extensions.

[2017-02-16 13:20] #12229 closed

[2017-02-16 13:26] paolaroncaglia commented on #11995
Hi @cmungall ,
The only work left to do for this ticket is low-priority and is about annotation as well as ontology, see above. Since you suggested ideas for those, I will assign this ticket to you (I’m wrapping up my tickets, but would rather not leave any unassigned because they tend to fall through the cracks when not recent). Thanks.

[2017-02-16 13:38] paolaroncaglia commented on #11269
@RLovering
Thanks for your thoughts on this. If I don't have time to work on this again, your summary could be used as a starting point to outline future work.

[2017-02-16 13:40] paolaroncaglia commented on #11748
Hi @ValWood ,
I will close this ticket because it is sort of a duplicate of 11269 linked above, and more discussion is recorded there. Cheers.

[2017-02-16 13:40] #11748 closed

[2017-02-16 15:38] dosumis commented on #11269
@thomaspd: Given our recent discussions, where do you stand on MFs for dimerization, homodimerization, oligomerization etc?

For formalization, we really need ID of binding partners in has_input.

[2017-02-16 23:54] cooperl09 commented on #11313
@mcourtot
The pollen wall (GO:0043667) should have a part_of relationship to pollen (PO:0025281), not to pollen sac (PO:0025277).

[2017-02-17 00:01] tberardini commented on #11313
@cooperl09 : Thanks for answering for me!  I can check that off my list now. :)

[2017-02-17 00:02] cooperl09 commented on #11313
@mcourtot
Re: def'n of pollination needs to be expanded to include gymnosperms, or should create another class to encompass that process.  Suggest going with the more generic definition from above-

The idea to rename "plant pollination" although it is somewhat redundant.

[2017-02-17 00:05] cooperl09 commented on #11313
Was there a question or request about papilla cell (PO:0025166)?

[2017-02-17 00:16] lreiser commented on #11313
@mcourtot
this definition could be made inclusive by eliminating the flowering plant specific term stigma. Also I would think we would want to define fertilization as sperm- egg cell fusion, no?

"The cascade of biological processes occurring in plants beginning when the pollen lands on the stigma and continuing up to, but not including, fertilization, as defined by sperm-central cell fusion."

Th

[2017-02-17 09:40] mcourtot commented on #11313
(no question about papilla cell, just made a note that it was requested to be imported into GO. I also now requested to import pollen (PO:0025281) - this should take 1-2 days to show up in the GO file after which I can make the changes)

TODO:

- [ ] Update definition of pollination to "The cascade of biological processes occurring in plants beginning when the pollen lands **on the female reproduc

[2017-02-17 13:05] paolaroncaglia commented on #12007
Hi @jimhu-tamu and @ValWood,

Having re-read this thread and the related ticket https://github.com/geneontology/go-ontology/issues/12162, I think that it’s safer not to place GO:0035840 old growing cell tip under (is_a) GO:1990901 old cell pole (see Jim’s and David’s discussion in the related ticket). This may be revisited if and when evidences emerge about commonalities across bacteria and yeast

[2017-02-17 13:05] #12007 closed

[2017-02-17 14:02] deustp01 commented on #13012
Nothing useful to add from here about the boundary between function and process.

[2017-02-17 14:09] tonysawfordebi commented on #12975
@dosumis P2G checks that a term is either a subclass of multi-organism process or a descendant via part_of.

[2017-02-17 16:34] ValWood commented on #12007
@mah11  can you take a look. You have probably thought about this more for FYPO...

[2017-02-17 16:43] mah11 commented on #12007
nope, I have nothing to add.

[2017-02-17 16:51] ValWood commented on #12007
OK, I'm missing something. I don't understand after re-reading the defs, and the threads, why cell tip should not be part_of cell pole? - and any other logical relations this incurs.
(even if cell pole is applicable to multiple cell shapes)

[2017-02-17 17:00] paolaroncaglia commented on #12007
Hi @ValWood ,
I'll ask @ukemi to comment here please. Thanks and a nice weekend to all.

[2017-02-17 17:34] tberardini commented on #11313
Experimental evidence of pollination in marine flowers by invertebrate fauna
http://www.nature.com/articles/ncomms12980

freaky!

The organism being pollinated is still a plant though (marine angiosperm _Thalassia testudinum_).  I still think it's redundant (and a little odd) to call it 'plant pollination' given the very clear definition.

[2017-02-17 17:37] ValWood commented on #12387
I'll close this one (effectively un-assigning myself).

I'm going to open a new ticket though :(

[2017-02-17 17:37] #12387 closed

[2017-02-17 17:43] ValWood opened #13024 "membrane curvature/membrane bending follow up"
https://github.com/geneontology/go-ontology/issues/12387

There still seem to be some connections missing:
![membrane bending terms](https://cloud.githubusercontent.com/assets/7359272/23076407/3b6b93be-f538-11e6-8a57-87376da20aba.jpg)

 - [ ]   spore membrane bending pathway -> rename spore membrane bending?
-  [ ]  spore membrane bending pathwa,  add membrane bending parent?
-  [ ]  lipid tube as

[2017-02-17 17:47] ValWood commented on #13024
- [ ]  lipid tube assembly -> maybe "lipid tube formation" would work better

[2017-02-17 17:48] hattrill opened #13025 "NTR:integral component of pigment granule membrane"
Could I have this term please?
integral component of pigment granule membrane
part_of GO:0048770 pigment granule
Def:The component of the pigment granule membrane consisting of the gene products and protein complexes having at least some part of their peptide sequence embedded in the hydrophobic region of the membrane.
PMID:11294610

[2017-02-18 08:56] mcourtot commented on #11313
Happy to defer to the expert :) thanks for the feedback @tberardini!

[2017-02-18 17:44] ValWood opened #13026 "biotin transport parent"
is biotin both a vitamin and a cofactor?
![biotin](https://cloud.githubusercontent.com/assets/7359272/23095435/c1f87e78-f601-11e6-8042-77588386679f.jpg)

[2017-02-18 17:45] ValWood commented on #13026
There is some inconsistency anyway... metabolism has only vitamin parentage:

![biotin2](https://cloud.githubusercontent.com/assets/7359272/23095462/07e71872-f602-11e6-9e3f-05d64ce636d1.jpg)

[2017-02-19 08:35] ValWood opened #13027 "MP: GO:0034637 cellular carbohydrate biosynthetic process"
is_a

GO:0034645 cellular macromolecule biosynthetic process

Needed for analysis (I'm helping a user with a  'super-slim')

was deleted, not sure why...
2009-02-25	Deleted	RELATION	is a GO:0044249 (cellular biosynthetic process)

[2017-02-19 10:44] ValWood opened #13028 "ntr metal ion transmembrane transport"
I tried to do this by TG, but there is no chebi  term for metal ion

(current term metal ion transport uses "metal cation" in logical def)

[2017-02-19 10:52] ValWood opened #13029 "MP cytokine biosynthetic process"
is_a  macromolecule biosynthetic process
![mp2](https://cloud.githubusercontent.com/assets/7359272/23101693/80421800-f691-11e6-9a78-3a1e89cd1e6b.jpg)

[2017-02-19 10:56] ValWood opened #13030 "refine term name post translational protein targeting to membrane"
post translational protein targeting to membrane- >

post translational protein targeting to ER membrane

seems to be defined for ER
The targeting of proteins to a membrane that occurs after their translation. Some secretory proteins exhibit posttranslational transport into the endoplasmic reticulum (ER) lumen: they are synthesized in their entirety on free cytosolic ribosomes and then released in

[2017-02-20 09:04] mcourtot commented on #11313
All done (but as discussed I did *not* update the label of the pollination class). Committed revision 38920.

[2017-02-20 09:04] #11313 closed

[2017-02-20 10:51] mcourtot commented on #12178
@ukemi: could you please review the google doc and below? Your name is associated to many of the original definitions. I'm specifically unsure whether we want to obsolete GO:0031555, transcriptional attenuation or just update it.

TODO:

**Updates:**

- [ ] Obsolete GO:0031555, transcriptional attenuation (or update as per NTR below)
- [ ] NTR:Name: transcriptional attenuation
Def: Regulation of g

[2017-02-20 12:16] mah11 commented on #13027
Carbohydrates are not all macromolecules, so deleting the link was correct.

[2017-02-20 12:22] mah11 commented on #13027
That said, the change log snippet says "deleted is_a GO:0044249 (cellular biosynthetic process)", but the ontology now has both GO:0034637 is_a GO:0044249 and GO:0034645 is_a GO:0044249, which looks right. It's still correct not to have GO:0034637 is_a GO:0034645.

[2017-02-20 12:33] dosumis commented on #12995
update: I added some name parsing to the [tsv mapping file](https://gist.github.com/dosumis/4d899727896367c9b432e733e120b675) for MF regulator activity terms.  There are now 146 classes with a mapping.  52 that need manually mapping.

[2017-02-20 12:36] dosumis commented on #12995
Merge down to corresponding MF term?  One worry is whether the process anotations will include some indirect.

[2017-02-20 13:29] hbye commented on #13012
Hello,

Thank you for your responses. I understand your points. However, I was thinking about this from an end users' point of view. I thought it might be useful to know the product of single execution- in this case it would be "monomethylarginine" which can also be an intermediate for the next reaction. Yes, indeed, if terms similar to the one I have requested are also to be moved out, then I und

[2017-02-20 14:48] ValWood commented on #12995
I don't think you can merge down. Generally if the MF "enzyme regulator" term is valid,  the curator should have made the MF annotation. We tend to  use the process term in direct annotations if it is definitely not, or not known to be, acting directly on the enzyme.

Also at PomBAse don't usually annotate kinase regulators which are kinases to these terms:

MAPKK activator activity
for MAPKKK.
We

[2017-02-20 15:01] dosumis commented on #12995
The MF terms will stay.  They're part of the MF refactoring.  The pattern and tsv linked to above are for this.

The inference is such that if you annotate to this:

"MAPKKK activity"  directly_positively_regulates  "MapKK activity"

You'll get an inferred annotation to 'MAPKK activator activity'.

If the BP terms are used widely for indirect activation, then maybe we should keep them.  But it doe

[2017-02-20 15:05] dosumis commented on #12995
- [ ] TODO: Use design pattern + tsv mapping file to update MF regulator activity terms in ontology
- [ ] TODO: Merge all 'activation/inhibition of fu' activity terms up to their parent 'negative/positive regulation of fu activity parent'

[2017-02-20 15:15] ValWood commented on #12995
I agree....but probably needs a heads up from other groups. I'm happy for the change but I was only reporting the inconsistency.  We would want to reannotate, or at least check, if a merge up occurs...

[2017-02-20 16:54] ValWood opened #13031 "add "mitochondrial translation" to fission yeast slim"
Since we removed "mitochondrial translation" as a descendant of "mitochondrial organization", these annotations are no longer included  in the slim.
Can we therefore add "mitochondrial translation" to the fission yeast slim.

(Rationale: We have "cytoplasmic translation" but because of the phenotypic and other differences between
cytoplasmic and mitochondrial translation, it is between not to merg

[2017-02-20 17:07] ukemi commented on #13031
It is in goslim_ yeast. I assume you also want it in goslim_pombe? This will be a good example to use at the workshop.

[2017-02-20 17:13] ValWood commented on #13031
yes please!

[2017-02-20 17:32] ValWood opened #13032 "TPV NADH metabolic process"
is part of pyruvate metabolic process.

That must often be untrue?

[2017-02-21 00:47] ValWood commented on #13027
Yup, and I was looking at a disaccharide anyway, which isn't classed as a macromolecule anyway.

[2017-02-21 00:47] #13027 closed

[2017-02-21 02:44] ukemi commented on #13028
Do you know of any metal anions that occur in a physiological system? I'm not sure they do.

[2017-02-21 02:51] ukemi commented on #13032
I'm not seeing this relationship.

[2017-02-21 07:19] ValWood commented on #13028
good point. So should  "metal ion transport" really be "metal cation transport"

[2017-02-21 07:27] ValWood opened #13033 "MP GO:1990426 mitotic recombination-dependent replication fork processing"
GO:1990426 mitotic recombination-dependent replication fork processing

has the parent
GO:0006261 DNA-dependent DNA replication

could this move down to
Name	mitotic DNA replication

to bring under nuclear replication terms, and separate it from mitochondrial

[2017-02-21 07:31] ValWood commented on #13032
nope I wasn't reading the graph properly.

[2017-02-21 07:31] #13032 closed

[2017-02-21 07:34] ValWood opened #13034 "MP GO:0019564 aerobic glycerol catabolic process"
GO:0019564 aerobic glycerol catabolic process
add
GO:0006091 generation of precursor metabolites and energy
?

[2017-02-21 08:14] ValWood opened #13035 "MP endosome transport via multivesicular body sorting pathway"
GO:0032509	endosome transport via multivesicular body sorting pathway

is a?

GO:0071985 multivesicular body sorting pathway

I was wondering why all endosomal transport is not under vesicle-mediated transport? I think I asked  @dosumis that before but I can't remember the reason....

[2017-02-21 10:09] paolaroncaglia opened #13036 "Issues and ideas re. protein dimerization/oligomerization terms"
This ticket is meant as a reference point to summarise concerns about protein dimerization activity + protein oligomerization terms, and to collect links to previous discussions and proposals. Hopefully this will aid towards resolution of a long-standing issue within the GOC that affects many annotations.

In chronological order (most recent last):

Old minutes/links:
http://wiki.geneontology.org/

[2017-02-21 10:12] paolaroncaglia commented on #11269
I opened a new ticket to collect previous discussions on this topic (protein dimerization/oligomerization), and hopefully aid towards a future resolution.
I’m closing this one. Please monitor https://github.com/geneontology/go-ontology/issues/13036 instead. Thanks!

[2017-02-21 10:12] #11269 closed

[2017-02-21 11:14] RLovering commented on #13036
Thanks Paola

[2017-02-21 11:25] paolaroncaglia commented on #11504
Left to do for this ticket:

- [ ] Edit ‘lipoprotein particle binding’ so it has_input ‘lipoprotein particle’ rather than ’plasma lipoprotein particle’

- [ ] Edit ‘plasma lipoprotein particle oxidation’ so the primary name is ‘plasma lipoprotein oxidation’ (currently an exact synonym), and ‘plasma lipoprotein particle oxidation’ stays as a related synonym

- [ ] Edit ‘regulation of plasma lipopro

[2017-02-21 11:43] paolaroncaglia opened #13037 "‘plasma lipoprotein particle’ vs. generic ‘lipoprotein particle’ terms"
Stemming from https://github.com/geneontology/go-ontology/issues/11504#issuecomment-275157252

GO:0071827 ‘plasma lipoprotein particle organization’ and children (including ‘plasma lipoprotein particle clearance’) should probably be edited to refer to generic ‘lipoprotein particle’. Most of the current manual experimental annotations are to children terms that do not have ‘plasma’ in their label a

[2017-02-21 11:44] paolaroncaglia commented on #11504
Cleaning up. Outlined remaining tasks in new GH ticket:
https://github.com/geneontology/go-ontology/issues/13037
Closing this one now.

[2017-02-21 11:44] #11504 closed

[2017-02-21 12:09] paolaroncaglia opened #13038 "Cleaning up the ‘STAT cascade’ branch"
Stemming from https://github.com/geneontology/go-ontology/issues/11773

To broaden the range of species that can be annotated to STAT cascade terms, ‘STAT cascade’ and its regulation terms were created, and the existing ‘JAK-STAT cascade’ was placed under it. To complete the clean-up,
- [ ] part_of children of the general ‘STAT cascade’, referring to the phosphorylation and import steps, would nee

[2017-02-21 12:11] paolaroncaglia commented on #11773
Wrapping up. Outlined remaining tasks in new ticket:
https://github.com/geneontology/go-ontology/issues/13038
Closing this one.

[2017-02-21 12:11] #11773 closed

[2017-02-21 12:36] lbreuza opened #13039 "NTR : Endoplasmic reticulum stress induced pre-emptive quality control"
Dear GO editors,

I was wondering which term I should use to describe the process "ER-stress-induced pre-emptive quality control" described in PubMed=26565908 and PubMed=17129784. Should we create a new term or would suggest the use of an existing one? This is different from ERAD, since proteins do not really enter the endoplasmic reticulum and not retrotranslocated.
If we create it, it could be a

[2017-02-21 12:56] RLovering commented on #11504
Hi Paola
sorry to arrive late in this discussion. I am not convinced that we should remove the plasma lipoprotein particle name. It makes sense to group HDL, LDL, VLDL, chylomicron etc under a common parent, there is a correlation between the levels of these proteins. Or have I missed something. It seems like there going to be lipoprotein particles which are not plasma lipoprotein particles groupe

[2017-02-21 13:08] paolaroncaglia commented on #11504
Hi @RLovering ,
My proposal is not a definitive resolution, rather a reminder that work is needed to make representation of these terms more consistent, now that we also have non-plasma-specific terms. Whoever picks up this task in the future should keep your concerns in mind, so I'll copy your comment on to the new GH ticket (and will mention you there so you'll receive notifications). Thanks!

[2017-02-21 13:09] paolaroncaglia commented on #13037
When addressing this, please keep in mind @RLovering's concerns:

"I am not convinced that we should remove the plasma lipoprotein particle name. It makes sense to group HDL, LDL, VLDL, chylomicron etc under a common parent, there is a correlation between the levels of these proteins. Or have I missed something. It seems like there going to be lipoprotein particles which are not plasma lipoprotein

[2017-02-21 13:32] paolaroncaglia commented on #12711
Note to self: based on Val’s comments, GO:0000912 ’assembly of actomyosin apparatus involved in cytokinesis’ is fine as is (or doesn’t need any urgent work anyway), and should not be given a logical def using ’actomyosin’. So I can close this ticket.

[2017-02-21 13:32] #12711 closed

[2017-02-21 14:15] dosumis commented on #13035
'endosomal transport' has a weirdly broad definition:

![image](https://cloud.githubusercontent.com/assets/112839/23168381/df80ebe8-f83f-11e6-84fb-8ea342b12a6e.png)

This covers various transport processes that are not vesicular (e.g. transport into ot out of endosome).

Most or all subclasses look vesicular though:

![image](https://cloud.githubusercontent.com/assets/112839/23168492/41d9d1ba-f840

[2017-02-21 14:22] ValWood commented on #13035
OK, thats OK if all the subclasses have vmt-parent.

[2017-02-21 14:25] ValWood opened #13040 "protein targeting to vacuole involved in ubiquitin-dependent protein catabolic process via the multivesicular body sorting pathway"
add vesicle-mediate transport parent?

[2017-02-21 15:00] ukemi commented on #13028
I don't think so, because it wouldn't be the term most commonly used.

[2017-02-21 15:03] dosumis commented on #13028
Just call the term as 'metal ion transport' and use the cation term from ChEBI in the logical def.  I've done this elsewhere.

[2017-02-21 15:08] ValWood commented on #13028
yes ignore me. that is what the term is called. I was confused!

[2017-02-21 15:08] #13028 closed

[2017-02-21 16:47] dosumis commented on #13036
CC @pdthomas - Would be good to have your take on adding oligomerization as an MF + relationship to protein binding - bridging.

[2017-02-22 08:22] ukemi commented on #13040
This is the targeting of the protein to the vacuole, not transport of it by the vacuole.

[2017-02-22 08:32] ValWood commented on #13040
Isn't all
multivesicular body sorting vesicular transport though?

There seems to be a contradiction in this term.

"Targeting" refers to moving proteins to their resident/normal location/organalle usually via a resident signal sequence (or by binding to a partner molecule which has a sorting signal).

Modification based transport to an organelle for degradation isn't targeting? Its just transport

[2017-02-22 10:09] paolaroncaglia commented on #11784
Fixed ‘ferrous iron export’.

[2017-02-22 10:09] #11784 closed

[2017-02-22 10:13] paolaroncaglia commented on #12231
Note for self: this is low priority, but I'll leave it assigned to me for the time being, in case we decide I should  (be the one to) address it.

[2017-02-22 10:14] paolaroncaglia commented on #12232
Note for self: this is low priority, but I'll leave it assigned to me for the time being, in case we decide I should (be the one to) address it.

[2017-02-22 10:50] mcourtot commented on #12178
Talked to @ukemi who mentioned he'd like to use this for the Protege curator course and he will follow-up on this ticket with @krchristie.

[2017-02-22 11:38] paolaroncaglia opened #13041 "GO:0019835 ‘cytolysis’ and children/annotations need work"
Stemming from https://github.com/geneontology/go-ontology/issues/12343.

The ‘cytolysis’ node needs work to clarify the meaning of the term (phenotype vs. active process), decide on its fate (in scope for GO vs. not) and on rehousing/deleting its annotations if necessary. Currently:

[Term]
id: GO:0019835
name: cytolysis
namespace: biological_process
def: "The rupture of cell membranes and the los

[2017-02-22 11:40] paolaroncaglia commented on #12343
I wrapped up a description of issues and suggestions to fix the 'cytolysis' branch in a new ticket:
https://github.com/geneontology/go-ontology/issues/13041
Closing this one now.

[2017-02-22 11:40] #12343 closed

[2017-02-22 17:19] slaulederkind opened #13047 "presynaptic terminal"
Consider adding "presynaptic terminal" to "axon terminus" (GO:0043679) as a synonym.  Thanks.

[2017-02-22 17:23] dosumis commented on #13047
Synonym should be on parent class 'presynapse' (this is more general, covering synapses where there the presynapse is not axonal - e.g. dendrodendritic synapses)

[2017-02-22 17:29] slaulederkind commented on #13047
Alright, that sounds reasonable.

[2017-02-22 18:50] tberardini commented on #12989
Finally!

Added:

Status for commit #93401: Success

    ID: GO:1905960 Label: response to 1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)pentan-1-one

[2017-02-22 21:14] cmungall opened #13057 "fake ticket: update README.md"
Ignore this ticket, created for demo at workshop

[2017-02-22 21:28] #13057 closed

[2017-02-22 22:34] ivanerill opened #13065 "GO:0009432 inheritance"
The term GO:0009432 (SOS response) should more appropriately descend from GO:0006974 (cellular response to DNA damage stimulus) than from its current, less granular ancestor (GO:0033554 cellular response to stress). PMID: 17883408.

[2017-02-22 22:51] cmungall opened #13066 "Fake ticket"
Add more food to test

[2017-02-22 22:59] #13066 closed

[2017-02-22 23:59] slaulederkind opened #13068 "adaptor protein binding"
I would like to see “adaptor protein binding” added to GO under the parent term “protein binding” (GO:0005515).  It would be the reciprocal relationship of “protein binding, bridging” (GO:0030674).  The definition could be something like “Interacting selectively and non-covalently with one or more specific sites on an adaptor protein.”  Synonym: “adapter protein binding” Examples: PMID:17675467, 2

[2017-02-23 00:25] slaulederkind opened #13069 "drug transporter binding"
I would like to see “drug transporter binding” added to GO under the parent term “protein binding” (GO:0005515).  The definition could be something like “Interacting selectively and non-covalently with a drug transporter protein.”  Examples: PMID:23403943

[2017-02-23 05:16] ukemi commented on #13026
When I look at the above diagrams, I see both parentage in both diagrams.

[2017-02-23 05:30] ukemi commented on #13040
Protein targeting to vacuole is:
The process of directing proteins towards the vacuole, usually using signals contained within the protein.

vesicle-mediated transport is:
A cellular transport process in which transported substances are moved in membrane-bounded vesicles; transported substances are enclosed in the vesicle lumen or located in the vesicle membrane. The process begins with a step tha

[2017-02-23 05:41] krchristie commented on #13040
Why would this not be vesicle-mediated transport? I think that the signals within the protein segregate it into specific kinds of vesicles which then go to the intended destination via vesicle-mediated transport. This is based on vague memories, rather than any recent research, but I don't think this is necessarily contradictory. [guess you're not sleeping @ukemi]

[2017-02-23 09:32] ValWood commented on #13040
I think the problem is deeper in GO.....

Protein targeting to vacuole exists (it is the targeting of *resident* proteins to the vacuole
based on *signals in the sequence*

protein targeting to vacuole involved in ubiquitin-dependent protein catabolic process via the multivesicular body sorting pathway

Is not strictly a type of targeting. I believe it should be renamed to

protein ttransport to v

[2017-02-23 09:35] ValWood opened #13070 "query protein targeting to membrane involved in ubiquitin-dependent protein catabolic process via the multivesicular body sorting pathway"
See also
https://github.com/geneontology/go-ontology/issues/13040

Should this term exist at all?

GO:0043329 protein targeting to membrane involved in ubiquitin-dependent protein catabolic process via the multivesicular body sorting pathway

The MVB sorting pathway transports to vacuole/lysosome. How would this term be used (has no annotations)

[2017-02-23 09:41] ValWood commented on #13024
New Nature paper reconstituting membrane curvature with purified components:

Nature. 2017 Feb 22. doi: 10.1038/nature21387. [Epub ahead of print]
Reconstitution of the tubular endoplasmic reticulum network with purified components.
Powers RE1,2, Wang S1,2, Liu TY1,2, Rapoport TA1,2.
Author information
Abstract
Organelles display characteristic morphologies that are intimately tied to their cellul

[2017-02-23 09:57] ValWood commented on #13026
ok its fine. It seems biotin is both a vitamin and a cofactor?

[2017-02-23 09:57] #13026 closed

[2017-02-23 15:16] ukemi commented on #13040
Protein targeting to vacuole exists (it is the targeting of resident proteins to the vacuole
based on signals in the sequence

The actual definition says usually based on signals in the sequence, that is not a necessity. The process that is being described by this term is the process that directs the protein to the right place, not necessarily the process that moves the protein. I went back and lo

[2017-02-23 16:41] dosumis commented on #12976
- [ ] TODO: David to specify design pattern
- [ ] TODO: Build a table to specify all terms that should follow the pattern.
   - [ ] TODO Find a list of terms to apply the pattern to.  This probably needs to be done lexically (at least in part), by searching for 'regulation by' in the label.

[2017-02-23 16:59] ValWood opened #13071 "GO:0000963 mitochondrial RNA processing parent"
based on this
https://github.com/geneontology/go-ontology/issues/11677

presumably
 GO:0000963 mitochondrial RNA processing
should also not be
part_of
 GO:0007005 mitochondrion organization

[2017-02-23 21:22] ukemi commented on #13070
Hmm. I think you are correct. I think this pathway catabolizes membrane bound proteins. So unless this term refers to the membrane localization of downstream complexes, it doesn't really make sense. The localization of the target proteins should be upstream of the process. I think we should propose obsoleteion, don't you?

[2017-02-23 23:50] cmungall opened #13073 "Add an import module for dicty"
We need to add an dicty_import file to define dicty GO terms

Blocked on: https://github.com/dictyBase/migration-data/issues/6

[2017-02-23 23:57] cmungall opened #13074 "Investigate why saving from Protege in obo format sometimes loses label after bang"
For example, this diff: https://github.com/geneontology/go-ontology/commit/f5791041a49708a50b8292184239f7855686768a

I suspect it is to do with references to terms not in the import module?

[2017-02-24 00:03] pgaudet opened #13075 "(Some) External terms are floating and do not seem to be used in equivalent axioms"
Example: CHEBI_132362

Chris should know what this means.

Thanks !
Pascale

[2017-02-24 00:54] #13047 closed

[2017-02-24 01:02] krchristie commented on #12996
1 term added:
+[Term]
+id: GO_0120001
+name: apical plasma membrane urothelial plaque
+namespace: cellular_component
+def: "A scallop-shaped plaque, also referred to as an asymmetric unit membrane (AUM), found in the apical plasma membrane of urothelial superficial (umbrella) cells which form a a barrier to the passage of water and soluble toxic compounds found in urine. The plaques are thickened

[2017-02-24 01:06] pgaudet commented on #12862
Is this correct ? Dicty is not a fungus, so we have removed the logical definition in which the fungal sorus development refers to DDANAT sorus, and added it to sorocarp development. Is this OK?

[2017-02-24 01:10] hdrabkin commented on #10873
I am adding 10 terms through git today

[2017-02-24 01:20] pgaudet opened #13078 ""fungal sorus development" versus "spore-bearing structure development"."
Hello @dianeoinglis

Right now in the ontology we have "fungal sorus development" and "spore-bearing structure development".

The logical definition of "spore-bearing structure development" states that "anatomical structure development' and ('results in development of' some sporophore)". Is a sporophore the same as a fungal sorus? If so, these terms should be merged. If not, which term should be a

[2017-02-24 01:47] krchristie commented on #12996
Added two additional terms and also a def dbxref to previous term:

 id: GO_0120001
 name: apical plasma membrane urothelial plaque
 namespace: cellular_component
+def: "A scallop-shaped plaque, also referred to as an asymmetric unit membrane (AUM), found in the apical plasma membrane of urothelial superficial (umbrella) cells which form a a barrier to the passage of water and soluble toxic compou

[2017-02-24 01:47] #12996 closed

[2017-02-24 04:03] dosumis commented on #12862
Should be on "GO:0048837 ; sorocarp sorus development"

(Can you link to this ticket from relevant pull request or commit?)

[2017-02-24 06:03] #13075 closed

[2017-02-24 08:43] bmeldal opened #13082 "NTR: retrograte transporter complex, Golgi to ER"
Complex that affects GO:0006890 retrograde vesicle-mediated transport, Golgi to ER:

Name: NTR: retrograte transporter complex, Golgi to ER

Def: Transporter complex that recognises, binds and returns endoplasmic reticulum (ER) resident proteins that have trafficked to Golgi compartments. Targets proteins lacking the HDEL motif recognised by COPI-coated vesicles.

Comment: An example of this is ER

[2017-02-24 10:53] rjdodson commented on #12989
Hi Tanya:

Thanks for adding this GO term, this is most appreciated. However, I have one additional request here and with another term too.

This GO term, GO:1905960, would be infinitely more useful with these synonyms:

Synonyms: response to DIF-2, response to DIF2

Similarly the companion GO term, GO:1903013 (response to 1-(3,5-dichloro-2,6-dihydroxy-4-methoxyphenyl)hexan-1-one) would be better

[2017-02-24 11:32] ValWood commented on #13070
I think probably....and it still isn't targetting but I'll follow up on that with details next week :)

[2017-02-24 11:46] ValWood commented on #13040
targeting is about transporting to the correct location after synthesis
http://www.biologyreference.com/Po-Re/Protein-Targeting.html
https://en.wikipedia.org/wiki/Protein_targeting
https://www.ohio.edu/plantbio/staff/showalte/mcb%20720/protein%20targeting%20notes.pdf

Not all proteins contain signals. This is true.
But this is because
i) not all targeting signals are identified
ii) Historically fo

[2017-02-24 11:54] ValWood commented on #13040
This is a good example of vacuolar targeting from arabidopsis
https://www.ncbi.nlm.nih.gov/pubmed/25351491
its a resident protein...I would annotate  the AP1 gamma adaptin to the "protein targeting to vacuole" term

In pombe I can't find any real examples of vacuolar targeting, because all of our annotations are derived from the "transporting proteins to the vacuole for degradation"

[2017-02-24 12:50] pgaudet commented on #12862
Hi @dosumis

The commit is:
https://github.com/geneontology/go-ontology/commit/f5791041a49708a50b8292184239f7855686768a

Pascale

[2017-02-24 12:51] dosumis commented on #12862
OK.  Looks good.  Thanks for spotting.

[2017-02-24 12:51] #12862 closed

[2017-02-24 12:55] pgaudet commented on #12862
Great :)

On Fri, Feb 24, 2017 at 4:51 AM, David Osumi-Sutherland <
notifications@github.com> wrote:

[2017-02-24 13:23] rjdodson commented on #12989
Also, probably a good idea to add to the synonym of each the full name of DIF, that is:

response to differentiation-inducing factor 1

response to differentiation-inducing factor 2

to each of the terms. Thanks!

[2017-02-24 15:25] RLovering opened #13083 "missing word 'active zone' from regulation of synaptic vesicle fusion to presynaptic membrane"
Hi David

GO:0031630 regulation of synaptic vesicle fusion to presynaptic membrane is a child of
GO:0031629 synaptic vesicle fusion to presynaptic active zone membrane

I realise curators should always check the parents when selecting terms but it would be useful if the name of this term and the pos and neg child terms had 'active zone' included so that there is no mistake about applying this term

[2017-02-24 16:32] ValWood opened #13084 "MP mitochondrial tRNA threonylcarbomoyl adenosine"
MP mitochondrial tRNA threonylcarbomoyl adenosine

add is_a
 tRNA threonylcarbomol adenosine

![is_a](https://cloud.githubusercontent.com/assets/7359272/23311671/c45829c8-faae-11e6-82f1-81ac49024da0.jpg)

[2017-02-24 17:09] ukemi commented on #13070
Let's make a model in Noctua. There are some really nice reviews of the whole pathway available. Membrane proteins are ubiquitinated, they target to vesicles via ESCRT, then the MVB is formed, then it fused with lysosomes and the proteins are degraded.

[2017-02-24 21:53] #12923 closed

[2017-02-26 11:20] ValWood opened #13095 "ntr: -ve regulation of mitotic G1 cell cycle arrest in response to nitrogen starvation"
cam do in term genie when back,
this to remind me

for
PMID:10921876
cdc2

[2017-02-26 12:30] ValWood opened #13096 "MP: many protein complexes no longer have protein complex parent"
anaphase-promoting complex
no longer has parentage to "protein complex"

I realise there are changes occurring in this area (I thought that macromolecular complex was going to become "protein containing complex" and "protein complex" was merging into "protein containing complex"?).

The current change means that we are not picking up many old mappings to "protein complex" which would normally be f

[2017-02-26 14:22] ValWood opened #13097 "TPV GO:0035337 fatty-acyl-CoA metabolic process"
GO:0035337 fatty-acyl-CoA metabolic process
The chemical reactions and pathways involving a fatty-acyl-CoA, any derivative of coenzyme A in which the sulfhydryl group is in thiolester linkage with a fatty-acyl group.

this has ancestry to
GO:0006637 acyl-CoA metabolic process
The chemical reactions and pathways involving acyl-CoA, any derivative of coenzyme A in which the sulfhydryl group is in th

[2017-02-26 23:42] ValWood opened #13098 "TPV: various TPV to small molecule metabolism"
fatty acid metabolic process (via organic acid biosynthetic process, not all small  molecule)
ergosterol metabolic process (via alcohol metabolic process, not all small  molecule))

[2017-02-27 11:39] ValWood opened #13099 "MP: GO:0031204 - posttranslational protein targeting to membrane, translocation"
This term is a bit odd because its a post-targeting step, but based on the def

Definition: "The process in which a protein translocates through the ER membrane posttranslationally."

if it is describing translocation, it should be a descendent of "protein import"

[2017-02-27 11:53] ValWood commented on #13099
SRP-dependent cotranslational protein targeting to membrane, translocation

[2017-02-27 11:53] #13099 closed

[2017-02-27 12:15] ukemi commented on #13096
After the merge, these will all become protein-containing complex. I will do this merge by the end of the week. We started to do it at the workshop, but didn't have time to finish. It is more complicated than it appears on the surface. All of the terms that use 'protein complex', like 'protein complex organization' must first be merged into terms like 'macromolecular complex organization' and then

[2017-02-27 12:24] ukemi opened #13100 "Ontology editors documentation clean-up"
- [ ] Guide to setting up the directories

- [ ] Documentation for routine editing

- [ ] Guide for committing files

- [ ] Guide for resolving conflicts

- [ ] Guide to the various builds and releases

[2017-02-27 13:45] cmungall commented on #13100
So how about splitting into 3 files in src/ontology

 1. README-editors.md - absolute basics: what file to edit, id ranges, what the Makefile does and how it controls releases
 2. A git guide: branching, PRs, conflicts
 3. Editors guide: how to do merges, obsoletes in Protege etc

[2017-02-27 13:48] cmungall commented on #13096
When we have design patterns this kind of refactoring can be largely
automated

On 27 Feb 2017, at 7:15, David Hill wrote:

[2017-02-27 15:13] ValWood commented on #13096
OK, I thought it was maybe in progress. I'll close this and open if there are any oddities when you finish...

[2017-02-27 15:13] #13096 closed

[2017-02-27 15:45] ukemi commented on #13096
Thanks Val. I plan to do it all on Thursday. That gives me Friday to fix anything I break. :)

[2017-02-27 17:39] #13029 closed

[2017-02-27 18:06] deustp01 commented on #13098
Missing something here. Are there fatty acids that are not small molecules? And ergosterol? Or is the problem something else?
Thanks

[2017-02-28 09:29] ValWood commented on #13098
Good point!
I think the distinction in GO is a bit arbitrary sometimes.

The chemical reactions and pathways involving small molecules, any low molecular weight, monomeric, non-encoded molecule.
Comment	Small molecules in GO include monosaccharides but exclude disaccharides and polysaccharides.

So we exclude disaccharides, but maybe we shouldn't....
We also exclude "cofactor metabolism" and again

[2017-02-28 10:48] dosumis commented on #11887
This ticket has been superceded:

[2017-02-28 11:02] dosumis commented on #11895
This ticket has been superseded by #12995

[2017-02-28 11:02] #11895 closed

[2017-02-28 11:02] #11887 closed

[2017-02-28 11:13] dosumis commented on #13098
New proposal for what counts as small molecule here https://github.com/geneontology/molecular_function_refactoring/issues/35 leveraging ChEBI
(CC @thomaspd)

[2017-02-28 12:51] dosumis commented on #11426
Diff showing edits is here:

https://github.com/geneontology/go-ontology/commit/a86cc6a5e1a107e1b9db9b12224b176483c15cb1

I've modified the def and synonyms on 'release from viral latency' to disentangle it from the decision/switch term.

[2017-02-28 12:51] #11426 closed

[2017-02-28 13:32] ukemi commented on #13068
Hi Stan. We have decided to no longer add these kinds of binding terms because with the new modeling paradigm and the new molecular function refactoring, all binding will only be expressed in the context of either a more global function or process that gives it context.

I am mentioning @thomaspd here in case he has more to add.

[2017-02-28 13:32] #13068 closed

[2017-02-28 13:33] ukemi commented on #13069
Hi Stan. We have decided to no longer add these kinds of binding terms because with the new modeling paradigm and the new molecular function refactoring, all binding will only be expressed in the context of either a more global function or process that gives it context.

I am mentioning @thomaspd here in case he has more to add.

[2017-02-28 13:33] #13069 closed

[2017-02-28 13:35] ukemi commented on #13082
Hi Birgit,

The complex cannot always be part of the ER membrane and always part of the Golgi membrane unless it is simultaneously bound to both. Is this true?

-D

[2017-02-28 13:37] ukemi commented on #13018
We will report on the workshop at the next ontology call.

- New organization of GH ticket distribution

- Migrated to GH for the ontology repository

- Documentation underway

[2017-02-28 13:39] bmeldal commented on #13082
Oh, damn, I hate these situations! It shuttles between ER and Golgi. I guess we can't annotate location beyond 'cell'.

[2017-02-28 13:44] ukemi commented on #13082
You can annotate, but it wouldn't go in the ontology.

[2017-02-28 13:52] bmeldal commented on #13082
Yes. Can you create the term then while ignoring the 2 compartments?

[2017-02-28 14:46] #13082 closed

[2017-02-28 15:20] #13084 closed

[2017-02-28 15:41] bmeldal commented on #13082
Thanks :)

[2017-02-28 15:44] ukemi commented on #13082
You're welcome. Note that I was unable to do any of the part_of parents because of the 'always part_of' rule.

[2017-02-28 18:28] #13065 closed

[2017-02-28 19:57] pgaudet commented on #13031
Fixed.

[2017-02-28 19:57] #13031 closed

[2017-02-28 21:43] jimhu-tamu opened #13106 "GO:0035974 ! meiotic spindle pole body and GO:0090619 ! meiotic spindle pole"
Should there be a part_of relationship between these?

How does one decide which to use during annotation?

[2017-02-28 21:46] slaulederkind opened #13107 "regulation of glutamatergic neuron differentiation"
I would like to see “positive…”, “negative…”, and “regulation of glutamatergic neuron differentiation” added to GO under the parent term “glutamatergic neuron differentiation” (GO:1905962).  The definitions would be “Any process that modulates (activates or increases/stops, prevents, or reduces) the frequency, rate or extent of neuron differentiation.”  Example: PMID:24030726
P.S.: Where's TermGen

[2017-03-01 09:22] ValWood commented on #13106
Hi Jim,

Immediately I thought there should be,  and it was until recently but
2016-11-04	Deleted	RELATION	part of GO:0072687 (meiotic spindle)

This is because the spindle is not *always* part of the spindle (and the spindle pole is always part of the spindle). The spindle pole body exists throughout the cell cycle, and the spindle only at mitosis/meiosis. The meiotic spindle pole body specifical

[2017-03-01 09:25] ValWood commented on #13106
Actually it isn't quite as simple as propagating, its more complicated. Components join and leave the spindle pole body throughout the cell cycle. So really, only the gene products annotated as "mitotic spindle pole body" occurs  "during mitosis" would require the "mitotic spindle"  annotation (this might seem strange but the "mitotic spindle pole body is defined as a SPB which is part of the mito

[2017-03-01 10:19] ValWood opened #13108 "astral microtubule/astral spindle assembly"
Follow on from
https://github.com/geneontology/go-ontology/issues/13106

Could astral microtubule be a descendent of "spindle pole"

There is a strange term
astral spindle assembly
The aggregation, arrangement and bonding together of a set of components to form the spindle, the array of microtubules and associated molecules that serves to move duplicated chromosomes apart, in the presence of centr

[2017-03-01 11:10] bmeldal opened #13109 "NTR: regulatin of microtubule cytoskeleton organization"
While TG is down I can't create the reg term for GO:0000226 microtubule cytoskeleton organization

PMID:16572176
GOC ref: bhm
Example: KPNB1 (Q14974) in human by direct assay.

I'm happy to wait a day or 2 if TG is coming back up soon. Just raising the ticket so it doesn't slip my mind.

Thanks,
Birgit

PS: Note to self: complex EBI-13645703 (human) (under review)

[2017-03-01 12:44] ukemi commented on #13106
@tberardini I seem to remember the spindles in plants are different and don't have classic spindle pole bodies. Is this true? This would address the issue in this ticket as well as in the other one that is referenced.

[2017-03-01 17:03] #13083 closed

[2017-03-01 19:25] pgaudet opened #13113 "Add 'DO NOT ANNOTATE' to cell cycle terms"
- GO:0022402 cell cycle process -> change 'do not manually annotate' to 'do not annotate' (no  annotations)
- GO:1903046 meiotic cell cycle process (no manual annotation)
- GO:1903047 mitotic cell cycle process (5 EXP annotations)

Note:
- GO:1903046 meiotic cell cycle process  -> Annotate to GO:0051321 meiotic cell cycle
- GO:1903047 mitotic cell cycle process ->  Annotate to GO:0000278 mitotic c

[2017-03-01 19:40] ukemi commented on #13113
+1

[2017-03-01 19:44] ukemi commented on #13113
I'm going to assign this to me since you already did a subset property for another ticket. We need to give annotators and pipeline folks a heads-up at the next annotation call. Maybe the best way to organize that is to open a ticket on the annotation tracker and link it here?

[2017-03-01 19:53] pgaudet commented on #13113
Sure. If we could use the 'replace by' tag would this be automatically taken care of ? Or is this reserved for obsolete terms ?

[2017-03-01 19:54] ukemi commented on #13113
Reserved for obsolete terms.

[2017-03-01 19:55] pgaudet commented on #13113
Does 'Consider' work ?

[2017-03-01 19:56] ukemi commented on #13113
No. Those are both reserved for tags on obsolete terms. The first when there is a direct replacement for annotation and the second when the replacement is not direct, but likely.

[2017-03-01 19:58] pgaudet commented on #13113
Is there another tag available ?

[2017-03-01 20:08] ukemi commented on #13113
Thanks for creating the other ticket. At the moment there is not another tag, it just goes in the slim/subset. For some of these terms there are comments explaining why it they are in the subset. See GO:0031572. I will add a comment for these.

[2017-03-01 20:24] ValWood commented on #13113
Good move. We block these for annotation at PomBase, because deeper annotation should be possible if it really is a cell cycle gene...(along with 1247 other terms, mainly because annotation could be deeper, but sometimes they duplicate taxon checks, or processes redundant with MF terms).

See
https://curation.pombase.org/dumps/latest_build/pombe-embl/supporting_files/GO_terms_excluded_from_pombase

[2017-03-01 20:26] ValWood commented on #13113
Ah I misunderstood, "mitotic cell cycle" is still allowed. We 'disallowed' this because it should always be possible to make a more specific annotation. If you can really say its mitotic cell cycle, you must be able to say more....

This is for another day ;)

[2017-03-01 21:40] krchristie commented on #13107
Hi Stan,

Hopefully TermGenie will be back soon! Doing this by hand was way slower than using TG!!

Here are your terms.

-Karen

[Term]
id: GO:0120006
name: regulation of glutamatergic neuron differentiation
namespace: biological_process
def: "Any process that modulates the frequency, rate or extent of glutamatergic neuron differentiation." [PMID:24030726]
intersection_of: GO:0008150 ! biological

[2017-03-01 21:40] #13107 closed

[2017-03-02 01:08] tberardini commented on #13106
@ukemi

" In most animals and fungal cells, spindle microtubules nucleate from centrosomes or spindle pole bodies. Plant cells lack such structured microtubule organizing centers, and some of their microtubules appear to nucleate from near the nuclear envelope, but very little is known about spindle formation in plants"

http://www.plantcell.org/content/20/10/2544.full

[2017-03-02 13:40] ukemi commented on #13106
Although in the other direction, I think based on Val's comment and the reference abopve, we cannot make links in the ontology between these terms.

[2017-03-02 13:40] #13106 closed

[2017-03-02 13:40] ukemi commented on #13108
Plants are different. That is why this term exists.

[2017-03-02 14:07] ValWood commented on #13108
But the term
astral spindle assembly
is a descendant of
mitotic spindle assembly
and it is only used once by FlyBase @hattrill could you have a look?

so it does not seem to have been requested for plant (even though Tanya added it)

Also,  based on Tanya's response that still does not explain this terms meaning...

Astral microtubules are defined as part of the SPB centrosome, so there can't be a

[2017-03-02 14:12] ValWood commented on #13108
- [ ]  make astral microtuble a decendent of spindle pole (this should fit all logical defs)

- [ ]  @hattrill  investigate what "astral spindle assembly" really means, if it is different from "spindle assembly" (astral microtubules are microtubules which  emenate from the SPB or centrosome)

 Depending on Helen's reponse, possible merge  (or obsolete)
 "astral spindle assembly"  -> spindle assemb

[2017-03-02 16:53] mah11 commented on #13108
I claim no specialist knowledge whatsoever, but from existing terms I infer that "astral spindle assembly" is the assembly of an astral spindle, as opposed to an anastral spindle. The latter form without centrosomes/spindle pole bodies, or so I gather from the definitions of the relevant terms:

    GO:0051225 spindle assembly
    -- is_a GO:0055048 anastral spindle assembly
    -- is_a GO:0055049

[2017-03-02 17:06] ValWood commented on #13108
Sorry the question should be what is the difference between

mitotic spindle assembly/meiotic   and  sibling
astral spindle assembly (both of these would be astral  spindles, are there others?)

[2017-03-02 17:10] mah11 commented on #13108
The existence of GO:0055048 implies that there are others, namely anastral spindles. I don't know whether they come in mitotic, meiotic or both flavors, but at least one of 'mitotic spindle' and/or 'meiotic spindle' can't be a subclass of astral spindle (maybe both, depending on when the anastral spindles form).

[2017-03-02 17:16] pgaudet commented on #12995
At the March 2nd Editor's call we agreed with @dosumis 's plan to merge activation and positive regulation in Biological processes. For direct activation, there is 'activator activity' MF that can be used.

[2017-03-02 17:17] tberardini commented on #12995
Discussed on March 2 meeting.  Editors agree with DOS' plan to "I think we should obsolete [modified to merge up into pos/neg reg terms] all of the process terms 'activation [inhibition} of fu activity' (BP). It's too confusing to have these and the 'fu activity activator [inhibitor]' terms (MF)."

[2017-03-02 17:18] ValWood commented on #13108
OK, we can close. If some organisms "main mitotic spindle"  in anastral,  we would need astral and anastral flavours of everything and that isn't really necessary.
 Will ignore...

[2017-03-02 17:18] #13108 closed

[2017-03-02 17:19] mah11 commented on #13108
OK, there are definitely anastral meiotic spindles in oocytes, e.g.:

http://www.cell.com/biophysj/pdf/S0006-3495(09)01362-9.pdf
http://bmccellbiol.biomedcentral.com/articles/10.1186/1471-2121-12-1

Tanya's comment on #13106 suggests that plants have anastral mitotic spindles, but double-check with her.  @tberardini

[2017-03-02 17:26] hattrill commented on #13108
Glad you sorted this out before I lifted a finger - I had three papers set aside for some bedtime reading on the astral/anastral question, but I'll go back to my Mills and Boon now!

[2017-03-02 18:13] pgaudet commented on #13013
Merge request is here: https://github.com/geneontology/go-ontology/pull/13117

[2017-03-02 19:02] cmungall opened #13118 "owltools verify-changes seems to reporting false positive changes"
now:

[code]

[2017-03-03 09:03] RLovering commented on #12995
I don't know how many annotations are associated with the terms you plan to obsolete, however as it was only recently agreed that in order to apply the MF term 'activator' or 'inhibitor' direct binding has to be shown and I know that I revised UCL annotations following this (although I think that many revised were highly likely to be 'activators or inhibitors' but the direct binding for the protei

[2017-03-03 11:07] ValWood opened #13120 "ntr: Golgi calcium ion transmembrane transport"
descendent of
GO:0032472 Golgi calcium ion transport
GO:0070588 calcium ion transmembrane transport

(I'm sure its all probably transmembrane- but currently using 2 terms inconsistently)

[2017-03-03 11:09] ValWood commented on #13120
can use PMID: 21811607

[2017-03-03 11:09] ggeorghiou opened #13121 "Taxon restraint for queuosine biosynthetic process?"
Hi all,

I came across a case in UniProt entries Q9BXR0 and Q9JMA2 where BP term GO:0008616 (queuosine biosynthetic process) has a taxon restraint preventing it from being used for any eurkaryotic entries, however the parent BP term (GO:0046116) and MF term GO:0008479 do not have the same restraint, suggesting that this process is exclusive to prokaryotes.

After reading the literature, it would s

[2017-03-03 11:20] ValWood commented on #13121
Hi,

The term you need for eukaryotes is tRNA-guanine transglycosylation

History here and other linked tickets
https://github.com/geneontology/go-ontology/issues/12536

Essentially eukaryotes use dietary queuosine for tRNA modification.

Val

[2017-03-03 11:20] #13121 closed

[2017-03-03 12:42] ukemi commented on #13018
Closing this and linking to other documentation ticket.
#13100

[2017-03-03 12:42] #13018 closed

[2017-03-03 16:27] tberardini commented on #12995
The "**obsolete [modified to merge up into pos/neg reg terms]**" means that the agreement was to MERGE the terms into pos/neg reg terms NOT OBSOLETE them.

[2017-03-03 16:51] deustp01 opened #13122 "ntr: intestinal hexose absorption"
(This would be a generalization of the existing term GO:0001951 intestinal D-glucose absorption.)

GO:new intestinal hexose absorption. Uptake of hexoses, notably D-glucose, fructose, and galactose, into the blood by absorption from the small intestine.
Is_a child of  GO:0008645 hexose transport. and of  GO:0050892 intestinal absorption.
I guess GO:0001951 would become an is_a child of GO:new.

GO

[2017-03-03 16:53] krchristie commented on #12329
Rereading through this thread, it seems the summary of this thread is to

1. classify GO:1903445 "protein transport from ciliary membrane to plasma membrane" as a type of GO:0032594 "protein transport within lipid bilayer"
2. obsolete GO:0046909 "intermembrane transport"

Looking at the ontology now, it looks to me like #1 might not require any action as GO:1903445 as it already has inferred class

[2017-03-03 17:32] krchristie commented on #12329
Thinking it through, it seems that the currently inferred "SubClass Of" relationships might go away when “intermembrane transport” is removed.

So, I'm not sure what to do about the parentage of GO:1903445 "protein transport from ciliary membrane to plasma membrane”. One option is to directly assert “protein transport within lipid bilayer” as the new is_a parent.

Alternatively, we could see if we

[2017-03-03 17:46] ukemi commented on #12329
I think the former suggestion would be the safest way to go, without the axioms for the reasons DOS points out above. They would not be necessary and sufficient. It makes sense to me to keep all the asserted superclasses and to add the additional classification of is_a 'transport within lipid bilayer'

[2017-03-03 19:02] ukemi commented on #13122
We should make all kinds of intestinal absorbtion be the whole process from the intestinal lumen into the blood. Let's standardize the terms as part of this ticket.
Maybe even play around with logical defs specifying the substance and target start and end locations. Could become a design pattern if we think there will be enough of them.

[2017-03-03 20:36] dosumis commented on #13122
The pattern we use for transport across membrane should work just fine if you can use Uberon or CL to specify the anatomical structure or cell type transported across.

'transports or maintains localization of' some {chemical}
and 'has target start location' some 'intestinal lumen'
and 'has target end location' some  blood??
and 'results in transport across' some ??

[2017-03-04 00:43] krchristie commented on #12329
I took a look at the paper cited in the definition of "intermembrane transport", PMID:10671554 (Cloning and expression of glycolipid transfer protein from bovine and porcine brain) and I think that this term is valid, but poorly placed, named, and defined. I think it should be renamed something like "intermembrane lipid transfer" and placed under or defined with respect to this term:

<pre>id: GO:

[2017-03-04 01:04] krchristie commented on #12329
The term I listed above, "**regulation of membrane lipid distribution**", is defined as "in **a** cellular membrane.", but one of the papers (PMID:20823909) cited clearly talks about the movement of lipids between intracellular membranes, so I think this definition is inappropriately narrow, and that this term should still be an appropriate parent for  "intramembrane lipid transfer" (aka "intermem

[2017-03-04 01:50] krchristie commented on #12329
changed parentage of GO:1903445 "protein transport from ciliary membrane to plasma membrane" as a type of GO:0032594

-is_a: GO:0046909 ! intermembrane transport
+is_a: GO:0032594 ! protein transport within lipid bilayer

[2017-03-04 06:26] krchristie commented on #12329
Here are the 5 existing experimental annotations (as of 3/3/2017), two of which are actually to the child term:

<pre>
Database        Gene Product ID Symbol  Qualifier       GO Identifier   GO Term Name    Aspect  Evidence        Reference       With    Taxon   Date    Assigned By     Product Form ID
UniProtKB       O88848  Arl6    GO:0046909      intermembrane transport P       IMP     PMID:2213

[2017-03-04 09:45] ukemi commented on #13122
On second thought, I don't think this specification will work for all organisms. It depends on what GO means by intestine and blood. In UBERON:0000160 intestine is quite specific, but there are annotations to fly and worm. This doesn't affect the addition of the new subclasses.

[2017-03-04 10:48] ValWood commented on #12329
Hi Karen,
Isn't this the same as lipid translocation?
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045332#term=ancchart

[2017-03-04 23:17] krchristie commented on #12329
Hi Val,

I intially thought it might mean that, but from the paper cited in the dbxref, this term seems like it represents something entirely novel not currently represented in GO and that it should actually be called "intramembrane lipid transfer" (what I've see the most) or "LTP-mediated transfer" as it's called in Figure 1 of this review:

http://www.nature.com/nrm/journal/v11/n10/fig_tab/nrm29

[2017-03-06 10:05] ValWood commented on #12329
OK got it, this is different!

[2017-03-06 14:12] deustp01 commented on #13122
Three comments.

Comment on David O-S pattern: absorption here means moving an entity across two membranes and one cytosol: from the gut lumen into the cytosol of a cell lining the gut, and from that cell into the organism's circulatory system.

Comment on David H's second thought: if sorting out the kinds of gut and whether they are equivalent for the purpose of amall-molecule absorption is trick

[2017-03-06 14:57] ukemi commented on #13122
Hi Peter,
I don't think we need to add additional taxon constraints. I think the addition of the logical def would inadvertently add one if we are not careful about anatomical structures that are chosen and what they mean. I don't see any problem with simply having the term mean exactly what you suggest above, intesine (in its broadest sense) lumen to the circulatory system.

The equivalence axiom

[2017-03-06 15:23] dosumis commented on #13122
On Mar 4, 2017, at 9:45 AM, David Hill <notifications@github.com> wrote:

Uberon has more general classes to deal with this:

hemolymphatic fluid (UBERON_0000179)
lumen of intestine (UBERON_0018543) @cmungall - is this general enough? - if not we need a new term in Uberon.

[2017-03-06 16:43] cmungall commented on #13122
intestine is intended to be generic

[code]

Comments welcome on the definition. It doesn't work well for species like zebrafish that lack a true stomach, but the intent is to represent the terminal portion.

The mammal part should really be gloss as it's of the form "an example is found in..."

I'm partially in favor of relabeling the class "last half of digestive tract" or similar, and having a

[2017-03-06 16:51] cmungall commented on #13122
Maybe of relevance
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4458075/

[2017-03-06 17:31] krchristie commented on #12329
Here's a proposal for terms I think we should have to represent this area. @ukemi, I need some feedback from you on some ontology questions.

**Existing BP term:**

Here is what I think the "intermembrane transport" term should be:

Term: intermembrane lipid transfer
Namespace: BP
Def: The transport of lipids between membranes in which a lipid molecule is transported through an aqueous phase from

[2017-03-06 17:55] krchristie commented on #12329
This review is good also, so will probably add it to the def dbxrefs:
PMID: 24220498 - Tuuf J, Mattjus P. Membranes and mammalian glycolipid transferring proteins.

[2017-03-07 11:36] mah11 opened #13126 "missing link for peptide-transporting ATPase activity"
Should GO:0015440 ! peptide-transporting ATPase activity be is_a GO:0015197 ! peptide transporter activity?

Given the plethora of other X-transporting ATPase activity is_a X transporter activity links, I don't see why not.

thanks,
m

[2017-03-07 12:34] bmeldal opened #13127 "NTR: negative regulation of GO:0007611 learning or memory"
I need:
negative regulation of GO:0007611 learning or memory
Happy to have the full set of regs.
Reference: PMID:18568035

Thanks,
Birgit

[2017-03-07 15:03] bmeldal opened #13128 "NTR: amyloid-beta complex"
Name: amyloid-beta complex

Def: Protein complex involved in modulation of signaling and synaptic function in the brain, predominantly in the cerebral cortex and hippocampus. Forms dimers and multimers of protein 40 and protein 42 splice variants of the amyloid beta A4 protein. Mostly found in the extracellular space with a small proportion occurring as membrane-bound species. Influences synaptic

[2017-03-07 15:17] ukemi commented on #13127
discussion here: #12512

[2017-03-07 15:28] lbreuza opened #13129 "NTR : KICSTOR complex"
Dear GO editors,

Wolfson et al., (PubMed=28199306) describe a new protein complex the KICSTOR complex composed of KPTN, ITFG2, C12orf66 and SZT2 that regulates the TORC1 signaling pathway in response to nutrients.
Could you consider creating a term for this complex.
Thanks in advance,
Lionel

[2017-03-07 15:36] hdrabkin commented on #13128
Need a little clarification: you say "Protein complex .....  Forms dimers and multimers of protein 40 and protein 42 splice variants of the amyloid beta A4 protein"; do you mean the complex is a dimer/multimere of protein 40 and protein 42 (both derived from the A4 protein)?

[2017-03-07 15:49] bmeldal commented on #12512
I'm trying to annotate the amyloid beta proteins 40 & 42 (P05067-PRO_0000000092 & P05067-PRO_0000000093) that form the main dimers and plaques driving memory loss in Alzheimer's patients. #13128

Looks like no "regulation of memory"-type terms have actually been committed yet. I'm reluctant to annotate directly to GO:0007611 learning or memory or children.

Ref: PMID:18568035

Any advice would be

[2017-03-07 15:56] bmeldal commented on #13128
Yes, clanky wording I think!

What about:
"Forms dimers and multimers of protein 40 and protein 42 (splice variants of amyloid beta A4 protein)."

And I forgot the DB xrefs:
GOC:bhm
IntAct:EBI-13942506
IntAct:EBI-13943327
IntAct:EBI-13943368

[2017-03-07 16:02] hdrabkin commented on #13128
Would this be better:
Forms dimers and m;utlimeres of protein 40 and protein 42 (the  proteolytic cleavage products of splice variants of amyloid beta A4 protein)

[2017-03-07 16:06] bmeldal commented on #13128
"Forms dimers and multimers of protein 40 and protein 42 (proteolytic cleavage products of amyloid beta A4 protein)"

There are lots more proteolytic cleavage products of A4! Proteins 40 & 42 are just 2 of them but the ones forming amyloid beta plaques.

[2017-03-07 16:10] hdrabkin commented on #13128
Yes, but the 40 and 42 are not themselves the splice variants right? There is a splice variant of the A4 that results in different 40s and 42s if I am understanding this correctly

[2017-03-07 16:11] BarbaraCzub commented on #13128
Hello, they are not splice variants though, but products of protein processing: http://www.uniprot.org/uniprot/P05067
@hdrabkin
@bmeldal

[2017-03-07 16:20] BarbaraCzub commented on #13128
![screen shot 2017-03-07 at 16 19 33](https://cloud.githubusercontent.com/assets/16541096/23665992/f2a523e8-0351-11e7-899e-db4a3950c1c0.png)

[2017-03-07 16:21] bmeldal commented on #13128
No idea which splice variant these chains come from or if they get post-translationally cleaved from the canonical protein. UniProt has 11 sequence isoforms but none of them are missing the bit necessary for amyloid beta proteins so could come from any.

And I just saw Barbara chimed in. Yes, that's what I thought.

(These are Barbara's requests!)

[2017-03-07 16:29] bmeldal commented on #13128
Come to think of, we should take out the 'trimer' synonyms and regard them under 'oligomers' as I also found experimental evidence for tetramers, pentamers etc...

[2017-03-07 16:46] BarbaraCzub commented on #13128
Hm, what is the minimum number of Abeta subunits that will make an oligomer? Should this perhaps be specified in the definition?
Although this review http://www.jbc.org/content/291/7/3174/T1.expansion.html uses kDa rather than 'number of '-mers'' to distinguish between different Abeta oligomers. And they also seem to differentiate between 'oligomers' and 'ADDLs'.

@bmeldal let's not include the AD

[2017-03-07 16:58] bmeldal commented on #13128
I'm pretty sure the higher order structures depend on experimental conditions. Several papers have shown that oligomers can be broken down into dimers on denaturing gels and these dimers can have synaptotoxic effects when injected into rats or mice, so are the smallest active complexes. Hence why I think we should capture them separately in the Complex Portal. Then the rest are all down to experim

[2017-03-07 17:00] krchristie opened #13131 "inconsistencies in taxon constraints on cilia terms"
I was just annotating Panther family PTHR10779 (DYNEIN LIGHT CHAIN ROADBLOCK) in PAINT and propagated some terms specific to cilia and ciliary movement. For some terms PAINT marked a loss for fungal taxa, but it marked the losses for the three different ciliary terms in different places, or not at all, so I think we need to check if the taxon constraints are done correctly.

**Relevant fungal spec

[2017-03-07 17:20] BarbaraCzub commented on #13128
I seem to recall from a previous annotation call that the cellular component GO term 'fibril' is not to be used for Abeta annotation, as Abeta fibrils (and plaques) are structures representative of Alzheimer's disease pathology, whereas the GO term 'fibril' is intended for annotation of structural proteins, such as actin, or tubulin. So, although there is a thin boundary with normal aging in this

[2017-03-07 17:25] bmeldal commented on #13128
That makes sense for GO. I wonder if I should included them in the CP entry for the oligomers, though.

[2017-03-07 17:33] hdrabkin commented on #13128
I was wondering about the normal vs disease processes coming into play here.  Shall I wait on making the requested complex term (sans a few of the synonyms)  Barabara gets back or go ahead now?

[2017-03-07 20:46] slaulederkind opened #13133 "regulation of neuroblast migration"
I would like to see “positive…”, “negative…”, and “regulation of neuroblast migration” added to GO under the parent term “neuroblast migration” (GO:0097402).  The definitions would be “Any process that modulates (activates or increases/stops, prevents, or reduces) the frequency, rate or extent of neuroblast migration.”  Example: PMID: 23149556

[2017-03-08 07:08] lbreuza opened #13135 "NTR : GATOR1 complex"
Dear editors,
within the TOR signaling pathway, we have a term describing the GATOR2 complex, but I could not find one for the GATOR1 complex described here PubMed=23723238, which existence is now well admitted PubMed=28199306. This complex is composed in mammals of DEPDC5, NPRL2 and NPRL3 and it functions as an inhibitor of the amino acid-sensing branch of the TORC1 pathway. Maybe it would also b

[2017-03-08 08:43] lbreuza opened #13136 "NTR : GATOR1 complex binding"
Dear editors,
could you please consider creating this term that I could annotate to SZT2 which mediates the interaction between the KICSTOR complex and the GATOR1 complex as shown here : PubMed=28199306.
Thanks in advance.
Lionel

[2017-03-08 09:28] hattrill commented on #12512
Hi Birgit,
I did begin to look at this and then parked it. However, it is a really big area of fly research, so I am still keen to nail down some terms to accurately capture this area of biology.
For the ones I requested via TermGenie, conclusion  the GO editors came to (and I, after a think-a-pow) were that the terms '[positive/negative] regulation of memory' are not really appropriate i.e. what

[2017-03-08 09:33] bmeldal commented on #12512
Thanks, Helen.
The amyloid-beta complexes are requests from @BarbaraCzub and she's off to an Alzheimer's conference this month. Barbara, can you have a think about the memory issue as well or pick one of the experts brains when you are away? Then we can revisit the memory annotation. For now I won't add it to the complexes.
Birgit

[2017-03-08 10:17] bmeldal commented on #13128
Well, they are physiological and disease-causing, the question is where's the line? Fibrils and plaques seem to be later stage disease-related while the dimers and smaller oligomers form first and then cause disease onset if they can't be dissociated by normal physiological processes. Momoners have another set of functions...

By the way, according to Wikipedia, they are produced by successive cle

[2017-03-08 10:54] BarbaraCzub commented on #12512
Noted 👍

[2017-03-08 12:18] ValWood opened #13137 "obsoletion: GO:1900401 regulation of meiosis by regulation of transcription from RNA polymerase II promoter"
obsoletion: GO:1900401 regulation of meiosis by regulation of transcription from RNA polymerase II promoter
and descendants

During previous changes this was re-defined as regulation of "meiotic cell division",
but the paper  which is used to define the term is not for the "regulation of meiotic division", it is
"regulation of meiotic cell cycle"

I'm not sure that meiotic division is regulated tr

[2017-03-08 14:57] #13126 closed

[2017-03-08 18:35] #13133 closed

[2017-03-08 22:46] dianeoinglis commented on #13078
Hi, apologies for the delayed response. On behalf of the entire fungal research community, I apologize for the mess that has been made with terms used inaccurately by some groups and identical terms used for different things in different species for many decades. Fungal researchers have only recently begun to use precise and accurate terms and the use of the GO is partly impetus. Only an expert in

[2017-03-09 00:11] cmungall commented on #13078
heh, these kinds of terminological nuances and clashes are common but sounds like the fungi people have a particularly tough problem!

Thanks for the clarifications. We'd like to use FAO as the reference, so do you think we can get your excellent definitions into FAO (and new term for 'sorus' etc)

[2017-03-09 00:53] dianeoinglis commented on #13078
Yes. I have a laptop problem that is hindering the actual edits to the FAO.obo. All the proposed terms with projected FAO IDs are in the FAO GitHub Issue Tracker. I think it might be best for curation purposes to make the more obscure terms synonyms of the terms in common use.

'Fruiting body,' identical with 'fruit body' and 'fruitbody' is quite coomonly used. A synonym is 'sporocarp.' Child term

[2017-03-09 14:21] ukemi commented on #13136
It might be better to capture this kind of information in an annotation and an annotation extension. Simply annotate to 'protein complex binding' (which will become 'protein-containing complex binding') and has_input the complex.

[2017-03-09 16:24] hdrabkin commented on #13136
yes, I agree; otherwise we will need binding terms for every complex no doubt

[2017-03-09 16:37] lbreuza commented on #13136
I fully agree with you, but I was asking this term because I could find for instance TORC2 complex binding
GO:1904841 and many others. Kind of inconsistency?

[2017-03-09 17:28] robnash commented on #13135
Hi Lionel,

I believe GATOR1 is equivalent to the IML1 complex (see the synonyms) first described in yeast:

http://amigo.geneontology.org/amigo/term/GO:1990130

with parent = GATOR

http://amigo.geneontology.org/amigo/term/GO:0035859

Cheers,
Rob

[2017-03-09 17:45] ValWood commented on #13135
Would GATOR1 be a more universal name? I have noticed that pombe people are calling it GATOR1  probably as its a bit more memorable than a gene name...
(or do people also use IML1 in other species?)

[2017-03-09 18:08] #13113 closed

[2017-03-09 18:23] ukemi opened #13141 "Build and release failures"
The Jenkins builds are failing because of the same makefile error.

[2017-03-09 19:23] ukemi commented on #13141
Looks like either this was fixed or it fixed itself.

[2017-03-09 19:23] #13141 closed

[2017-03-09 20:48] hdrabkin commented on #13122
Add term per request and altered def as requested.

[2017-03-09 21:08] cerivs opened #13143 "NTR: Peptide binding term for other peptide hormones in the glucose regulation pathway"
Peptide hormone binding has a child insulin binding.  However insulin is only part of the equation there are other peptide hormones that regulate glucose and cell's response to insulin.
Some grouping terms for vertebrates similar to the insect specific adipokinetik hormone binding would be helpful in annotating gene function.
Glucagon cholecytokinin, somatostatin, pancreatic polypeptide and other

[2017-03-09 21:20] hdrabkin commented on #13135
Could add GATOR1 as a synonym for IML1 complex;

[2017-03-09 21:30] cerivs commented on #13143
Oops another request.
Glucagon-like peptide binding
Interacting selectively and non-covalently with glucagon-like peptide, a antihyperglycemic hormone.  Glucagon-like peptide is derived from the glucagon gene produced by pancreatic  alpha cells.

[2017-03-10 08:27] ValWood opened #13144 "ntr: sister chromatid decatenation"
Could I request a term:
mitotic sister chromatid decatenation
Separation of the physical linkage between two DNA strands during mitotic chromosome segregation, resulting in the correct resolution of sister chromatids at anaphase.

I'm not *quite* sure how it should be defined, as I haven't read any papers describing it.
review here:
https://www.ncbi.nlm.nih.gov/pubmed/26266709
a nice in vitro assa

[2017-03-10 08:43] ValWood opened #13145 "obsolete GO:0042801 polo kinase kinase activity/ gene product specific"
just spotted this term.
It doesn't seem appropriate, especiallt as we don't have a term "polo kinase activity",

and since it only has one EXP annotation it hasn't been used for the majority of "polo kinase kinases".

Could this be obsoleted to prevent annotation inconsistency.

[2017-03-10 10:57] RLovering opened #13146 "typo in definition"
Hi

please correct 'catabolic' typo in this definition: GO:0036503 ERAD pathway
The protein catbolic pathway which targets endoplasmic reticulum (ER)-resident proteins

Thanks

Ruth

[2017-03-10 11:19] ValWood opened #13147 "chromatin organization vs chromosome condensation"
chromatin organization is defined
Any process that results in the specification, formation or maintenance of the physical structure of eukaryotic chromatin.

This definition refers to chromatin assembly and disassembly but excluding "chromsome condensation" which is a "higher order of compaction"

However,
sperm chromatin condensation
Definition	The progressive compaction of the spermatid chromati

[2017-03-10 12:39] pgaudet opened #13148 "Usage of 'x complex binding' terms"
As a follow up on https://github.com/geneontology/go-ontology/issues/13136
If the policy is to use the extensions for x complex binding, we should remove some terms in the ontology that are inconsistent with that proposed rule. First to evaluate what annotations we'd need to change, here are the different 'x complex binding terms' used for manual annotation:

GO ID	GO Name
GO:0051015	actin filamen

[2017-03-10 15:14] BarbaraCzub opened #13150 "NTR: L-aspartate import & D-aspartate transmembrane transporter activity"
Re: Noctua model SynGO #1.
I would like to request new terms to annotate Figure 4 from PMID:7914198.

NTR1: L-aspartate import
This would be a child of: GO:0043092 L-amino acid import
and GO:0070778 L-aspartate transport

NTR2: D-aspartate transmembrane transporter activity
This would be a child of: GO:0015172 acidic amino acid transmembrane transporter activity
and GO:0005310 dicarboxylic acid tr

[2017-03-10 15:41] hdrabkin commented on #13145
I think then with only one annotation, we can forgo the need for an obsoletion alert. Do  you agree @ukemi ?

[2017-03-10 15:44] hdrabkin commented on #13145
Wait; I'm seeing more than just one EXP in Amigo

[2017-03-10 15:47] ValWood commented on #13145
I only see 2 in QuickGO:
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042801#term=annotation

I think an obsoletion  notice is always good, might educate curators not
to request gene product specific terms...

On 10/03/2017 15:44, Harold Drabkin wrote:

--
University of Cambridge
PomBase http://www.pombase.org/
Cambridge Systems Biology Centre http://www.sysbiol.cam.ac.uk/Investigators/val-wood

[2017-03-10 15:48] hdrabkin commented on #13145
Yes, I DO see these two; neither EXP:
I will send out the notice.
UniProtKB:O94804	Serine/threonine-protein kinase 10		GO:0042801		UniProt	NCBITaxon:9606	TAS		PANTHER:PTHR24361		PMID:12639966	20110902
UniProtKB:B7ZR30	Serine/threonine-protein kinase 10-A		GO:0042801		UniProt	NCBITaxon:8355	IDA				PMID:9831560	20110902

[2017-03-10 15:49] vanaukenk commented on #12859
Hi,

We'd like to discuss this item on the upcoming annotation conference call:
http://wiki.geneontology.org/index.php/Annotation_Conf._Call_2017-03-14

Is there a list somewhere of the proposed BP terms that would be obsoleted so curators can assess their annotations?
@thomaspd @selewis @dosumis

Thx.

[2017-03-10 16:17] ValWood commented on #12859
It would be great to see a list of all of the terms, and the experimental annotation numbers.

I have managed to remove most of our direct annotations if they have a more specific MF annotation, but we still have some annotations  where only a process annotation was appropriate. ...Can provide examples...